[2020-10-17 21:48] antagomir opened #4 "Absolute vs. relative abundances"
Some microbiome studies are starting to report measures of absolute abundance in addition to sequencing read counts and relative abundances. The `MicrobiomeExperiment` could/should support incorporating this information, too.

[2020-10-19 11:23] FelixErnst commented on #4
Can you elaborate on this? Maybe an example you have seen?

[2020-10-19 12:00] antagomir commented on #4
For instance [Vandeputte et al. (2017)](https://pubmed.ncbi.nlm.nih.gov/29143816/) Fig. 2 provides an early example of absolute vs. relative quantification.

[2020-10-20 07:36] FelixErnst commented on #4
Hmm from that figure I guess it is just a factor from the `colData` which gets applied to scaling of data, doesn't it?

So before melting the data for plotting, a simple multiplication of the assay data with this factor of the `colData` would convert the relative abundance to an absolute abundance, which is then plotted.

Can you repost the issue on mia, since this is about melting the data for pl

[2020-10-20 08:15] microsud opened #3 "additional parameters for `agglomerateByRank` or a new supporting function"
During testing for visualization, I realize the need for some functionality for making the selection of taxa to plot. This feature for aggregating is important to reduce the high number of variables (taxa in this case) for any visualization to a practical number.

In `microbiome R package`, functions below help in improving visualization by reducing number of taxa to plot.
see [aggregate_taxa.R](h

[2020-10-20 08:16] microsud commented on #3
From @FelixErnst
#https://github.com/FelixErnst/MicrobiomeExperiment/issues/18
Hi Sudarshan,

lets break this down.

The agglomerateByRank or aggValue functions from TreeSummarizedExperiment do the summing up and I guess from your code example this works fine, does it?
Second step melting of data to be plotable
Relabeling of taxonomic information based on n most abundant taxa.
I would suggest, tha

[2020-10-20 08:26] microsud commented on #3
Hi @FelixErnst
Thanks for clarity in reporting.
1. `agglomerateByRank` or `aggValue` functions: Tested only `agglomerateByRank` and it works.
2. Second step melting of data to be plotable: Yes and needs some stricter checks than in the example.
3. Relabeling of taxonomic information based on `n` most abundant taxa: Yes. I showed one example. Other ways of aggregating can be based on user-provided

[2020-10-20 08:41] FelixErnst commented on #3
Hi Sudarshan @microsud,

Sounds good. So I guess the next step would getting a `melt` function and the `topTaxa` written up.

Would you author a pull request for a S4 Method for `melt` and `topTaxa`, which includes additional arguments to select the assay? (`abund_values = "relabundance"`).

Felix

[2020-10-20 08:47] FelixErnst commented on #3
Maybe a good name for the `melt` function would `meltAssay`, since that is a bit more descriptive than just `melt` or `meltSummarizedExperiment` etc

[2020-10-20 08:56] FelixErnst commented on #4
This probably should get combined with FelixErnst/MicrobiomeExperiment#18

[2020-10-20 08:59] antagomir commented on #4
I am not sure. Isn't including absolute abundance information rather a class-level definition issue rather than aggregation functionality? I was thinking of a dedicated slot that has information on the absolute abundances, even if the data object itself has been transformed into e.g. relative abundances.

[2020-10-20 09:10] FelixErnst commented on #4
From my point of view, this is a bit like a library size factor. In the paper they described this as " downsized to an even sampling depth, defined as the ratio between sample size and and microbial load (average total cell count per gram)".

So this ration could be stored a `colData` as it is the case for `sizeFactors` (See `?sizeFactors` and `getMethod("sizeFactors","SingleCellExperiment")`). An

[2020-10-20 09:17] antagomir commented on #4
Ok sounds good.

[2020-10-20 09:23] FelixErnst commented on #3
Have a look at #4 . There is a factor for adjustment coming in, which has to get applied per column before melting.

[2020-10-20 15:35] FelixErnst commented on #4
See FelixErnst/MicrobiomeExperiment#19 for getter/setter added

[2020-10-20 15:57] adw96 commented on #4
Just a really quick plug advocating against the idea of rescaling relative abundances (obtained from shotgun or amplicon) by absolute abundances. The reasons for the strong no are here (https://elifesciences.org/articles/46923) and an alternative is here (https://www.biorxiv.org/content/10.1101/761486v1).

[2020-10-20 16:14] antagomir commented on #4
Great, thanks @adw96 - my intention was mainly to prepare for future developments in measurement technologies (as this class may be potentially long-living), rather than use this for the currently available measurement techniques. Fully agree with the challenges.

[2020-10-20 16:33] FelixErnst commented on #4
@adw96 wouldn't the addition of this type of sample data allow the variable efficiency estimate to be computed based on the appropriate count matrix?

It would probably quite straight forward to write an interface for paramedic, if my assumption is correct.

edit: OK I see, that the sample concentration `paramedic` needs is also two dimensional. So that doesn't work out of the box with these chang

[2020-10-21 04:52] microsud commented on #3
@FelixErnst This would be my first S4 method and will need some time 😅

[2020-10-21 06:08] FelixErnst commented on #3
You will get there, I am sure.

If you have questions commit the progress made so far to a branch and open a pull request. That would be the right place to discuss the implementation

[2020-10-26 09:28] microsud opened #8 "Will it be possible to speed up tests?"
During `R CMD check`  running `tests` is slow on a system that has 8GB RAM and 13GB virtual memory
[code]
Maybe reducing test data inside tests can speed up the calculations or the calculations itself can be made faster?

[2020-10-27 07:28] FelixErnst commented on #8
Hi Sudarshan @microsud

on three of the machines I have access to this takes about 5-10sec on a single core. Therefore, I am quite sure, that the times given above are exaggerated at best.

However, I am not saying performance cannot be improved, but with such a low run time to start with, it is probably not a high priority and worth our time at this moment.

If you can provide additional benchmar

[2020-10-27 14:23] microsud commented on #8
It seems an issue with my system. Time for clean up :expressionless:
will close the issue.

[2020-10-27 14:24] #8 closed, assigned to nobody

[2020-10-29 21:31] FelixErnst commented on #8
Hi Sudarshan @microsud ,

did you by any chance test this on R 4.0.3? I just did upgrade one machine and this is taking now a bit longer. Thanks for feedback.

Felix

[2020-10-29 21:33] microsud commented on #8
Yes I am working with R 4.0.3

[2020-10-29 21:41] FelixErnst commented on #8
Yeah somehow there was a speed bump, which actually make me come up with serious improvement in the whole thing. Fix is on its way

[2020-10-30 10:54] #3 closed, assigned to microsud

[2020-11-24 09:45] FelixErnst opened #16 "Feature request: getTopTaxa - percent detected"
Hi Sudarshan @microsud ,

can you add another option to `getTopTaxa`, which looks for percent detected across samples?

this should be defined probably like this
[code]

With this function the taxa, which are present in most of the samples, can be access independent of  whether they show a high or low abundance.

Felix

[2020-11-24 09:51] antagomir commented on #16
Perhaps good to note that this is also and already provided by the function `getPrevalentTaxa` when using a zero abundance threshold. If this feature is supported in getTopTaxa as well, you could cross-link with the @ seealso tag in royxgen

[2020-11-24 10:17] FelixErnst commented on #16
Ah dang I missed that overlap. Maybe catch this case and call `getPrevalentTaxa`. I will have a look at the PR #15  in the afternoon.

[2020-11-24 12:16] antagomir commented on #16
yes perhaps that would be the clearest solution.

[2020-11-24 17:05] FelixErnst commented on #16
done 9e66539

[2020-11-24 17:05] #16 closed, assigned to microsud

[2020-11-26 09:20] antagomir opened #17 "estimateDiversity wrapper"
The `estimateDiversity` functionality has one method per index (estimateShannon, estimateSimpson etc.) but I do not find a generic wrapper that could return a chosen index, like `estimateDiversity(x, index = "Shannon")`. If such wrapper does not exist it would be highly useful. Ping @tvborm

[2020-11-26 09:30] FelixErnst commented on #17
The data is saved in the `colData()` of x. As per the examples in `?estimateDiversity`, this should work like this

[code]

The benefit of saving it directly in the `colData()` is, that if the samples are subset using `x[,the_intersting_ones]` and eternal vector doesn't need to be subset as well. All data is kept aligned to the available samples minimizing code redundancies and increasing readabil

[2020-11-26 09:36] antagomir commented on #17
We could have both with

[code]

This would seem simpler to me from user perspective.

[2020-11-26 10:12] FelixErnst commented on #17
This already available via the `name` argument

[code]

edit: a Sorry. you mean a wrapper. Will add it

[2020-11-26 10:27] antagomir commented on #17
Should this work:

[code]

I get:
Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘estimateShannon’ for signature ‘"TreeSummarizedExperiment"’

[2020-11-26 11:24] FelixErnst commented on #17
All the issues should be fixed by e81462e

Please note that the estimates are now saved in `colData` in all lower caps by default.

edit:
[code]

[2020-11-26 11:41] antagomir commented on #17
Perfect and works.

One more thing. It is potentially confusing that different casing (lower/upper) is being used in function arguments and outputs, although the indices are otherwise the same.

My suggestion is to use full lowercase for all, this would be simplest from user perspective and I do not see added value for this difference from developer perspective either (?)

[2020-11-26 13:06] FelixErnst commented on #17
With the changes introduced in e81462e arguments and output are lower case by default. See my examples above

[2020-11-26 16:59] FelixErnst commented on #17
Additional changes: With aaedf29 `estimateDiversity` will calculate all available diversity measure from a single call by default.

[2020-11-27 18:41] FelixErnst commented on #17
Additional changes: With 3978bbf estimateDiversity man page includes plotting examples

can we close this?

[2020-11-27 20:53] antagomir commented on #17
Yes, thanks.

[2020-11-27 20:53] #17 closed, assigned to nobody

[2020-12-04 21:40] antagomir opened #24 "estimateDiversity naming scheme"
The function name `estimateDiversity` is somewhat confusing since we have the concepts of alpha, beta, and gamma diversity in (microbial) ecology. Hence, `estimateAlphaDiversity` would be a more descriptive name.

[2020-12-04 22:06] antagomir opened #25 "Bioc checks"
Fix all warnings and errors from:

[code]

[2020-12-04 22:43] FelixErnst commented on #24
I don't like the term beta diversity since it is nothing more than a distance measurements. In most of the microbiome related packages this is not made clear, which is a major pain in the ***, sorry for the language.  It confuses users by creating a isolation layer between, what, how and why someone wants to calcultate a beta diversity.

Regarding the the gamma diversity, I haven't made up my mind

[2020-12-04 23:18] antagomir commented on #24
No objections in general. The terminology is firmly established in ecological literature, and it is a decision to make, anyway, whether we want to comply with some of the standard terminology (e,g, beta diversity), or stick to their more generic equivalents (e.g. distance or dissimilarity). In fact beta diversity as a concept covers both distances and dissimilarities.. for clarity it is not necess

[2020-12-05 11:51] FelixErnst commented on #24
So lets go for wrapper now.

How do you think about the different terms `estimate` and `calculate`? The distinction I think is quite important for me, but can we really see this as distinct for alpha and beta diversity?

[2020-12-05 14:24] antagomir commented on #24
How do you define the distinction? These seem somewhat overlapping to me. I agree that clarity is good.

Is `estimateAlphaDiversity` going the be the wrapper name?

[2020-12-05 16:02] FelixErnst commented on #24
Yes for `estimateAlphaDiversity`. I will add it since I want to rework the `breakaway` dependency.

estimation I regard something with any error on it, whereas calculation is something more fixed.

[2020-12-05 18:28] FelixErnst commented on #24
fixed with 0ed6a22

[2020-12-05 18:28] #24 closed, assigned to nobody

[2020-12-12 10:21] FelixErnst commented on #25
update: 2020-12-12 GHA on linux has a problem running the vignette. This is not reproducable locally with the Bioc docker image

[2020-12-27 09:10] antagomir opened #30 "decontam"
Identification of potential reagent contaminants; important for low biomass samples. decontam is a commnly used package for this, which is compatible with phyloseq, so would be good to link to mia.

[2020-12-27 09:10] antagomir opened #31 "batch effects"
Batch comparison and correction for large-scale studies.  It would be also useful for identifying additional reagent contaminants in low biomass samples (proposed by SM)

[2020-12-29 19:23] antagomir opened #32 "implement estimateEvenness() ?"
Specific _evenness_ indices exist. Should we implement a separate `estimateEvenness` function, or provide these as an option in the generic `estimateAlphaDiversity` function? We could transfer Camargo, Simpson, Pielou, Evar, and Bulla evenness indices e.g. from [microbiome](https://github.com/microbiome/microbiome/blob/master/R/evenness.R).

[2020-12-29 19:24] antagomir opened #33 "Implement estimateEvenness?"
Specific _evenness_ indices exist. Should we implement a separate `estimateEvenness` function, or provide these as an option in the generic `estimateAlphaDiversity` function? We could transfer Camargo, Simpson, Pielou, Evar, and Bulla evenness indices e.g. from [microbiome](https://github.com/microbiome/microbiome/blob/master/R/evenness.R).

[2020-12-29 19:27] FelixErnst commented on #32
issue double posted?

[2020-12-29 19:31] antagomir commented on #32
Oh - I got some error and had to repost. Closing this one now.

[2020-12-29 19:31] #32 closed, assigned to FelixErnst, TuomasBorman

[2021-01-07 09:37] yiluheihei opened #36 "feature: import qiime2 results to `TreeSummarizedExperiment`"
Thanks for your attention. I will make a PR if you think this feature is necessary.

[2021-01-07 09:49] antagomir commented on #36
Yes, this would be very useful I think.

[2021-01-09 12:07] FelixErnst commented on #25
We take care of this for submission. I think that the GHA currently provides enough feedback. Please reopen, if you feel otherwise

[2021-01-09 12:07] #25 closed, assigned to nobody

[2021-01-09 12:08] FelixErnst commented on #30
I will have a look at it, but maybe this can be only implemented on `decontam`'s side.

[2021-01-09 12:08] FelixErnst commented on #31
Can you provide more details on what you had in mind?

[2021-01-09 13:21] antagomir commented on #31
I got a request online to add such features, and added it here for discussion. This is not a straightforward "function" to add. Might work as an example case study in MiaBook but not sure if this is feasible to mia in the short term at least.

[2021-01-15 02:17] #36 closed, assigned to nobody

[2021-01-16 10:55] microsud opened #39 "agglomerateByRank returns only species name not genus.species"
@FelixErnst and @antagomir

Currently, we have Species information in rowData. While it is logical to have only species name, biological is best interpreted with genus and species name. e.g. *Genus.species* like _Bacteroides.uniformis_

[code]

Also, when `na.rm = F` in `agglomerateByRank()`  we get `Species:uniformis` as row.name/rowID
[code]

So would it be an idea to return *Genus.species* beca

[2021-01-16 17:44] antagomir commented on #39
Something like this is indeed very useful in practice.

[2021-01-16 19:24] FelixErnst commented on #39
So I don't get this either. What doesn't work currently?

I need an example to understand what kind of output and behavior you would expect.

[2021-01-16 20:19] microsud commented on #39
Species names are not always unique. These can be shared between diverse genera. This is also at genus level with same genus name classified in diff families, many more complexities regarding polyphyletic nature of certain taxa. But for now Genus.Species at least can be taken care of.
E.g.
*Methanothrix soehngenii* and *Anaerobutyricum soehngenii* now if we return only species name *soehngenii* it

[2021-01-16 20:29] FelixErnst commented on #39
Well this is something I didn't want to make as the default, since the solution to generating the result when need is a oneliner:

`rownames(x)[!is.na(rowData(x)$Species)] <- paste(rowData(x)$Genus,rowData(x)$Species)[!is.na(rowData(x)$Species)]`

Why introduce another option, which has to be tracked through multiple functions, which can be solved by any user how the like that easily?

[2021-01-16 20:47] microsud commented on #39
This is a very software developer perspective and not user oriented with assumptions of required level of training prior to using the tool.
For microbiologists (or any taxonomists), it is a default setting in the brain to use genus.species.
If it is a big task, we make this one liner and other similar operations clear in the `miaBook` 😉

[2021-01-16 20:53] FelixErnst commented on #39
That might be the case. However, I would argue, that anyone using `ggplot` knows how to paste together a string. The other option would be introduce a special argument, just in case species information is available, which than would have to be looked up in the man page in any event. The ROI doesn't look good in my opinion, or do you have a catchy name for such an argument, which doesn't require mo

[2021-01-16 21:01] microsud commented on #39
Your suggestions seems a good one.
If a generic one is needed, it can be  `mergeRankLabels` ?

[2021-01-16 21:05] FelixErnst commented on #39
To unspecific. It only has meaning for Genus and Species. Any if you want to provide a function, you have to take into account the reality, that many datasets contain the genus-species combination in the species column. See `GlobalPatterns` for example.

That are few `ifs`, which will end up being the reason for a few issues opened here on GitHub, because the one special format of a user was not t

[2021-01-16 21:20] microsud commented on #39
Okay. I was thinking from an end user perspective. With `microbiome` pkg we always try our best to empower the user with tutorials for data handling outside of the pkg functionality. It was a good idea to have the `MiaBook` for this and other related practical issues that might arise after we have active users for the `TSE` n `mia` ecosystem.

[2021-01-16 21:20] #39 closed, assigned to nobody

[2021-01-16 23:01] antagomir commented on #39
Yes for MiaBook examples. But I also like to add that there might indeed be some demand for easy and intuitive shortcuts. Whether those should go to mia or some other package, that's a different question.

[2021-01-17 23:44] fionarhuang commented on #39
@microsud For the closed issue submitted in TSE,  if I understand it correctly, the main feature required was to store some rowData separately from the taxonomy table. My suggestion would be to store the so-called `new_slot`  (a data frame) as a column of the `row_data` instead of really creating a new slot. In this way, different rownames are allowed. The subsetting works and the access to the ne

[2021-01-18 05:48] microsud commented on #39
Hi @fionarhuang - Apologies for closing the issue before you could comment on it. Yes you are right and your solution seems to be a good one. Was not aware of the possibility to store Data frame as column in `SE/TSE`. Thanks!

[2021-01-20 18:37] antagomir opened #41 "renaming makeTreeSummarizedExperimentFromqiime2"
This could be renamed as makeTreeSummarizedExperimentFromQIIME2 since QIIME2 is also otherwise typically written in capital letters.?

[2021-01-20 18:40] FelixErnst commented on #41
@yiluheihei ?

[2021-01-20 19:06] antagomir opened #42 "Conversion function from TSE to phyloseq"
This would be pretty useful to have since we can then make TSE the default format, and convert to phyloseq only when corresponding functionality is only available for phyloseq.

[2021-01-21 01:01] yiluheihei commented on #41
absolutely agree

[2021-01-21 08:04] FelixErnst commented on #41
Can you prepare a PR?

[2021-01-22 01:02] yiluheihei commented on #41
OK, no problem.

[2021-01-25 07:04] #41 closed, assigned to nobody

[2021-01-26 22:01] antagomir commented on #42
Name for that function would be `makephyloseqFromTreeSummarizedExperiment` if we follow the current package conventions (we already have `makeTreeSummarizedExperimentFromphyloseq`).

However I started to think whether `convertTreeSummarizedExperimentTophyloseq` or `TSE2phyloseq` would be better? These are essentially conversions and no need to emphasize the "make" part. Same comment goes for the o

[2021-01-26 22:14] antagomir opened #45 "Naming for TSE construction functions"
The `makeTreeSummarizedExperimentFromQIIME2` reads data from files, and can be considered an "import" function.

The other functions `makeTreeSummarizedExperimentFrom*` (* = DADA2, phyloseq, biom) convert R objects from other classes to TSE.

I propose to separate the naming conventions so that conversion functions are called e.g. `convertphyloseqToTSE` and import functions are called e.g. `import

[2021-01-27 08:12] FelixErnst commented on #42
I don't like the `TSE2phyloseq` name, because it does not contain a verb.

Having said that, then this is just about `make` vs. `convert`. If I look at the Bioconductor verse, the `make` verb is much preferred. `makeSummarizedExperimentFromDataFrame`, `makeSummarizedExperimentFromLoom`, `makeTxDbFromBiomart` and `makeGRangesListFromDataFrame` are just a few examples from my current session, wherea

[2021-01-27 08:34] antagomir commented on #42
That's ok. Then there is the related broader issue #45

[2021-01-27 08:37] FelixErnst commented on #45
See #42

TL;DR: origin and target class have to be in the function name to avoid any confusion. `make` vs. `convert` is an argument worth having, but from my point of view `make` wins 3:1 due to syntactic and history reasons.

From my point of view, the verbosity of the function name like `makeTreeSummarizedExperimentFrom*` is a plus. `convertToTSE` is just using a different verb, which is not tha

[2021-01-27 09:56] antagomir commented on #45
All ok for `make` over `convert` and agree with most arguments.

Only point where I might like to see comments from others is the `makeBfromA` versus just having the wrapper`makeB` that works for many different objects. I can see the rationale in explicitly naming A and B here but if a user gives an invalid object that is not accepted, there can be an informative warning message that tells which t

[2021-01-27 10:31] microsud commented on #45
Both of you are making valid points. If we think of the user, the `makeTSE()` wrapper with an argument for providing a `class = "phyloseq"` will still require user to type the format in an argument and again has to be sure with lower/upper case *"Phyloseq"* or *"phyloseq"*. But then, `makeTreeSummarizedExperimentFromPhyloseq`  is too long (40 characters, ideal coding line 80 characters limit). I t

[2021-01-27 10:35] antagomir commented on #45
Hi - in `makeTSE()` it is not necessary to write "phyloseq" as an argument (as you mention) if the function itself can recognize the type, which is straightfwd. It could be provided as an optional argument for users who want to explicitly specify those things. But it is not necessary and therefore not a full argument against `makeTSE`.

I agree about the need to aim at shorter function names.

[2021-01-27 10:47] microsud commented on #45
Okay. Like Felix mentioned, I also think that `makeTSE()` at first instance suggests unlimited options, and then as developer he needs to guess. I think its better to have separate functions which balances the needs of both the developer-maintainer and the user. Plus provides an opportunity for novice users to suggest potential enhancements clearly and raise issues to a specific function.

[2021-01-27 13:27] exod1a opened #46 "makeTreeSummarizedExperimentFromQIIME2.R functions"
Hi
I have been trying to use the file "mia/R/makeTreeSummarizedExperimentFromQIIME2.R" at [https://github.com/FelixErnst/mia/blob/master/R/makeTreeSummarizedExperimentFromQIIME2.R](url) but I am having trouble with the functions that come from the "Modstrings" library including .is_a_bool, .is_non_empty_string, etc. I have downloaded the library using

`BiocManager::install("Modstrings")`
and load

[2021-01-27 13:39] FelixErnst commented on #45
I am not sure, what we are talking about. Just to understand it correctly, what is the aim of shortening the function name?
- make it easier for novice users
- make it easier to use in general
- shorter function name for less typing

This would need to be an error, but if there is no function, there is no error, there is no issue. 100% no issue, without taking away anything, since it is not implem

[2021-01-27 13:47] FelixErnst commented on #46
Hi Chandler,

I am a bit confused, why you would even know about an internal function `.is_a_bool`. It is implemented in `mia` in the utils.R file.

I mean I am a bit flattered, that you found out, that the same ***internal*** function is also used in `Modstrings`, but that is coincidence.

From the limited information you gave us, my guess would be that you sourced the file with `source`, am I ri

[2021-01-27 13:48] antagomir commented on #45
Ok if implementation would lead to new technical problems with imports vs suggests, then I think it is easier to abandon the idea. In general, many functions in R accept multiple types. Anyway, there seems to be more support for specific functions for each conversion, so let's do that then.

Shortening the names: points 2-3 ie easier to use in general and faster to type.

Import functions: did we

[2021-01-27 14:04] FelixErnst commented on #45
I don't have any `import*` functions in my sessions, so from my point of view, the same things as for `convert` apply.

`makeTxDbFromGFF` is the example case from `GenomicFeatures`. The only `import*` function I can think off, is `import.gff` from `rtracklayer`, but that is a special case in my opinion, since all the imports handled like this, have a defined output type (In Bioconductor a `gff` wi

[2021-01-27 14:52] antagomir commented on #45
Re: opening message in this issue thread:

The `makeTreeSummarizedExperimentFromQIIME2` _reads data from files,_ and can be considered an "import" function.

The other functions `makeTreeSummarizedExperimentFrom*` (* = DADA2, phyloseq, biom) _convert R objects from other classes_ to TSE.

I propose to separate the naming conventions so that conversion functions are called e.g. `makeTSEfromphyloseq

[2021-01-27 15:08] FelixErnst commented on #45
Sure, the QIIME results are saved as files. I missed that. Can you prepare a PR?

[2021-01-27 22:55] antagomir commented on #45
Is `importQIIME2ToTreeSummarizedExperiment` or `importTreeSummarizedExperimentfromQIIME2` a good new name?

Or could it be just `importQIIME2` ? (I like this one the best - not sure if TSE has to be explicitly mentioned here).

This function was contributed by @yiluheihei - I would like to hear what he thinks and if he could still make one more PR to update the name..? At least his approval/commen

[2021-01-28 04:57] yiluheihei commented on #45
I think `import` is more convenient for QIIME2 results.`TreeSummarizedExperiment` is the main class in this package, so I like the name `importQIIME2` as antagomir.

[2021-01-28 08:50] exod1a commented on #46
Hi
I managed to install mia using `BiocManager::install("FelixErnst/mia")` and now it seems to work and the problem is with the files not the function
Thanks!

[2021-01-28 08:52] #46 closed, assigned to nobody

[2021-01-28 09:10] FelixErnst commented on #45
Apologies for being this picky.

I don't like the `import` prefix, since it suggests that the data is transformed. The prefix `load` is much more neutral, since it indicates, that the data is left untouched.

For example `import.gff`, chops down the tabular data from a `gff` file, into seqnames, `IRanges` and a `DataFrame`, which columns are filled dynamically depending on which type of object mak

[2021-01-28 09:18] antagomir commented on #45
Sounds fine to me. If @yiluheihei likes to make the PR it is very welcome, or otherwise I can make it (just changing the name of this function). Unless there are further suggestions.

[2021-01-28 09:22] yiluheihei commented on #45
Okay, I will make a PR to rename it to `loadFromQIIME2()`.

[2021-01-28 09:28] FelixErnst commented on #45
Would a wrapper be also executable? Have a look at `?loadFromBiom`

[2021-01-28 09:40] antagomir commented on #45
Thanks @yiluheihei - !

[2021-01-28 17:57] #45 closed, assigned to nobody

[2021-01-28 18:55] FelixErnst opened #51 "Warning message in loadFromQIIME2"
Hi @yiluheihei @tvborm

`loadFromQIIME2` throughs a few warnings. Can you have a look?

https://felixernst.github.io/mia/reference/loadFromQIIME2.html

Thanks!

[2021-01-29 19:58] TuomasBorman commented on #51
Those errors occur when TSE is created and phylogenetic tree is added there. Creating that phylogenetic tree does not give any errors. Those same warning came before yeasterday's modifications, but I did not pay attentiont to them that much.

For me, it is quite hard to say what is wrong. I tried to find the problem, but I could not. Those same 4 warnings came also with Chandler's data, so it is p

[2021-01-30 04:05] yiluheihei commented on #51
I think the reason for this warning is that the node label of the phylogenetic tree is not unique and some nodes have no label.

[2021-01-30 17:08] FelixErnst commented on #51
The question remains, why it is thrown 4 times? Is this in `mia` or in `TSE`? If it is the first, this has to be fixed once, with a warning, but not 4.

[2021-02-01 09:19] FelixErnst commented on #51
I think it might be in `TSE`

@fionarhuang I saw the same warnings pop up in the manuscript on page 16. I think the warning is correct, but I am not so sure, about it appearing 4 times. That seems excessive.

[2021-02-01 11:12] yiluheihei commented on #51
I also think it is in `TSE`, since there is no warning while I import QIIME2 results as `phyloseq`.

[2021-02-01 11:57] FelixErnst commented on #51
But thats a different code base, isn't it?

[2021-02-01 13:43] yiluheihei commented on #51
No, the core (base) code I used to create `phyloseq` object is the same with it in `loadFromQIIME2`.

[2021-02-01 16:50] TuomasBorman commented on #51
I agree that the problem is in TSE, because I ran the code one row at the time, and there were no errors until the function call

[code]

and then those 4 warning came

[2021-02-01 21:59] #42 closed, assigned to nobody

[2021-02-02 09:22] FelixErnst opened #52 "man page for transformCounts is malformated"
Hi @tvborm

the man page looks malformated on my end

![image](https://user-images.githubusercontent.com/17824332/106579042-83e3f880-6540-11eb-9bf0-4e477ac66dd1.png)

Can you confirm, this looks the same for you? If yes, can you fix it?

Thanks!

Felix

[2021-02-02 10:16] TuomasBorman commented on #52
Yeah, it looks strange. In fact, the estimateDominance has the same problem. I fix them.

-Tuomas

[2021-02-04 07:42] FelixErnst commented on #52
1c6f90e

[2021-02-04 07:42] #52 closed, assigned to nobody

[2021-02-05 13:15] fionarhuang commented on #51
Hi all,

The warning was from `convertNode` that was called several times in the constructor of `TreeSummarizedExperiment`. I have fixed the warning by checking only nodes that are used in the link data. Before,  all nodes of the tree are checked to see whether they have duplicated or missing labels.

Overall, the warning should disappear in version `1.99.11` when testing on the example data provi

[2021-02-05 13:42] FelixErnst commented on #51
Fixed! https://felixernst.github.io/mia/reference/loadFromQIIME2.html

Thanks!

[2021-02-05 13:42] #51 closed, assigned to nobody

[2021-02-08 19:49] antagomir opened #54 ""tsemelt""
For fast exploration purposes it would be useful to have `TSE` equivalent to `phyloseq::psmelt` (i.e. `tsemelt` :-) ).

[2021-02-08 20:06] FelixErnst commented on #54
I think this is already implemented

https://felixernst.github.io/mia/reference/meltAssay.html

However, it might good to think about reusing an alternative function name from MultiAssayExperiment, `longFormat`, if the generic is available in `BiocGenerics`.

[2021-02-08 20:17] antagomir commented on #54
Ah, great! I leave this open for the latter suggestion.

[2021-02-08 20:25] FelixErnst commented on #54
@microsud Can you have a look whether the genric is available from `BiocGenerics`? It yes, just add a wrapper for `meltAssay`

[2021-02-08 21:28] microsud commented on #54
Could not find a `melt` or `longFormat` generic.

[2021-02-08 22:28] FelixErnst commented on #54
So we have the implementation we can have.

[2021-02-08 22:28] #54 closed, assigned to nobody

[2021-02-16 14:13] FelixErnst commented on #30
`decontam` is a rather small package and the code base is quite manageable.

I am not sure, what the interest of the authors is to make the functions accessible for `SE` objects.

@benjjneb: Is there interest in discussing this context?

[2021-02-17 02:57] benjjneb commented on #30
Yes.

To date we have prioritized near-zero dependencies (hence the fragile phyloseq integration that doesn't require phyloseq as a package). That is in part because decontam is integrated outside of the R universe, where fewer dependencies are an advantage.

But integrating with SummarizedExperiment would be worth doing I think.

[2021-02-17 08:35] FelixErnst commented on #30
I will create a PR for mia and let you know, when it is done. We can discuss any particulars in the PR.

Would you be open to a PR on decontam for better integration, if I need change things around?

[2021-02-17 08:38] FelixErnst commented on #33
This is next on my agenda. A few questions for that:

- The data should end up saved in the `colData` am I right?
- How computationally expensive are these? Should they be done at the same time or individually?

Thanks for any hints/tips

@microsud

[2021-02-17 08:58] antagomir commented on #33
This should be done in the same way than we already implemented `estimateDiversity` and `estimateDominance`. For consistency.

These are not particularly expensive computationally and can be done at the same time (by default) I think.

[2021-02-17 09:00] microsud commented on #33
In addition to Leo's comments:

`YES`

[code]
[code]

EDIT: It calculated five indices here (camargo,pielou,simpson,evar,bulla) in one go... Took 8.9 secs

[2021-02-17 12:20] FelixErnst commented on #33
@antagomir

I found the following code snippet for some of the indices (`bulla` for example):
[code]

What is expected to happen here, if zeroes is FALSE?

[2021-02-17 13:47] antagomir commented on #33
Aah.. I checked now and as far as I can see, this should not be relevant for the (included) evenness indices. There are some other ecological indices where excluding zeroes would have some effect. From this I think it safe to leave out, we can add it later rather easily if needs arise.

[2021-02-19 01:24] benjjneb commented on #30
Yes. I will have this weird bias against incorporating new dependencies for the reason describe above, but I'd also like to integrate better with SE packages so...

[2021-02-19 22:50] antagomir opened #58 "Add coverage to estimateDiversity"
The  [coverage index](https://github.com/microbiome/microbiome/blob/master/R/coverage.R) is a type of diversity index. Sometimes used in ecological literature and sketched in microbiome pkg. This could be incorporated as an additional option in `estimateDiversity` function?

[2021-02-19 23:05] antagomir opened #59 "Rarity indices"
The microbiome pkg has a set of functions to quantify "rarity" and subset the data to rare groups. The higher the rarity, the higher the diversity. These could be therefore added to estimateDiversity but conceptually they focus on rarity and are typically not included among standard diversity indices, in this sense they may deserve their own function.

The set of functions in microbiome pkg are as

[2021-02-19 23:15] antagomir opened #60 "Overlap between samples"
The [microbiome::overlap](https://github.com/microbiome/microbiome/blob/master/R/overlap.R) function returns the overlap index between communities, used in Bashan, A., Gibson, T., Friedman, J. et al. Universality of human microbial dynamics. Nature 534, 259–262 (2016) https://doi.org/10.1038/nature18301 - could be potentially added in mia as well. In a sense this is a beta diversity index but not

[2021-02-22 08:07] microsud commented on #60
I came across a bootstrap implementation of this used by [Gao, C., Montoya, L., Xu, L. et al. Fungal community assembly in drought-stressed sorghum shows stochasticity, selection, and universal ecological dynamics. Nat Commun](https://www.nature.com/articles/s41467-019-13913-9#Sec9) and code is [here](https://github.com/Russel88/DOC)
Your thoughts?

[2021-02-22 09:13] FelixErnst commented on #59
I am not sure about this, since I don't fully grasp the concept. Could you implement it and at the same time add a section to `MiaBook`?

[2021-02-22 09:15] FelixErnst commented on #60
Probably a nice implementation, but the code is a repo, which we cannot use, since it is not on CRAN or Bioconductor. I don't want to just use their code.

Nice idea, but I don't see a way to implement it with/within/for mia.

[2021-02-22 09:16] FelixErnst commented on #58
Can you author a PR?

[2021-02-22 09:18] FelixErnst commented on #31
I have read up on it. There is a new package, `corral`, which deals with batch correction. From the RNA-seq world additional methods are available as well. Maybe this should be a chapter in `MiaBook`?

[2021-02-22 09:21] FelixErnst commented on #30
I opened up a PR for decontam benjjneb/decontam#89 restructuring the function to use S4 methods. It shouldn't break any existing code.

If that goes through and ends up on Bioconductor, we can merge the PR I opened for `mia`

[2021-02-22 09:53] antagomir commented on #31
Batch correction is a relevant topic, and should be cited in MiaBook at least and a dedicated chapter might be justified. This is not a core topic in my opinion, however. It could also be a subsection in a broader section about biases and quality control.

[2021-02-22 09:54] antagomir commented on #58
Me or @tvborm can do it as the time allows.

[2021-02-22 09:57] antagomir commented on #60
The license in Geo et al. is MIT and probably it would be possible to switch to Artistic with permission from the author. If this code can improve the function that we previously wrote in microbiome pkg then it should be possible to convert and add directly in mia.

How this should be prioritized w.r.t other things is another discussion.

[2021-02-22 10:00] antagomir commented on #59
The overall motivation is that there has been some interest lately (in microbiome research) to carry out specific analyses at rare taxa as these are often overlooked by standard analyses. So, the concept is to focus on a particular subspace in the microbial community.

Yes we should be able to implement this as the time allows.

[2021-02-22 10:52] FelixErnst commented on #31
So what is the issue for mia?

Is there something, which you think needs to be implemented? Otherweise I would move the issue to MiaBook

[2021-02-22 10:57] antagomir commented on #31
I agree moving this to MiaBook. It also does not make sense to try implementing all possible methodologies in a single R pkg like mia. The book is the correct place to discuss the different problems and solutions.

[2021-02-22 11:26] microsud commented on #31
Technical Bias and Quality Control section would indeed be important.
First we need to find the right example datasets for:
- Contaminants
- Batch correction
- Absolute versus Relative Abundances

[2021-02-22 11:56] FelixErnst commented on #31
I can omly transfer the issue within a Namespace. I will close it here and open another on MiaBook

[2021-02-22 11:57] #31 closed, assigned to nobody

[2021-03-01 20:23] antagomir opened #64 "divergence"
Divergence is close to beta diversity as a concept and sometimes used to quantify community heterogeneity. For instance, two different groups of samples may be different in terms of community heterogeneity (divergence). But this has to be balanced with group sizes and against some reference (selected reference sample or community median for instance). The microbiome pkg has one simple implementati

[2021-03-01 20:28] antagomir opened #65 "associate"
The microbiome pkg has function [associate](https://github.com/microbiome/microbiome/blob/master/R/associate.R) to cross-correlate (or associate) taxonomic and other features for instance for [heatmap visualizations](https://microbiome.github.io/tutorials/Heatmap.html) of such associations.

We could discuss whether such functionality is needed in `mia` (either based on the microbiome::associate,

[2021-03-01 20:36] antagomir opened #66 "ReadCount?"
Should we have a shortcut / wrapper to calculate ReadCount or LibrarySize for the samples in a given `TSE` object?

Motivation: can make code more readable and provides an easy shortcut for a commonly used functionality.

[2021-03-01 20:50] antagomir opened #67 "getTaxa"
I propose to add function `getTaxa` that would return a list of all taxa present in the data (given assay). This would be a rough equivalent to `microbiome::taxa`.

We already have `getTopTaxa` that could be used for this but it emphasizes "top" taxa and it emphasizes the most abundant taxa:

`getTopTaxa(x)
`[1] "549656" "331820" "279599" "360229" "317182"

I also noticed another related issue tha

[2021-03-01 20:53] antagomir opened #68 "Map levels"
We could add a function that would map between different taxonomic levels, for instance from genera to species, or from species to genera etc. (either way, from lower to higher levels and vice versa). This can be handy in many cases.

This would be a rough equivalent to [microbiome::map_levels.R](https://github.com/microbiome/microbiome/blob/master/R/map_levels.R).

[2021-03-01 20:58] antagomir opened #69 "Summarize TSE object"
We could add a summary function that could generate / print out basic summaries of a `TSE` object for microbiome data.

This would be roughly equivalent to [microbiome::summarize_phyloseq](https://github.com/microbiome/microbiome/blob/master/R/summarize_phyloseq.R).

[2021-03-01 21:24] FelixErnst commented on #66
Do you mean with `librarySize` the reads per sample? `librarySizeFactors` is available from `scuttle` to calculate relative library sizes. `colSums` is the function to get absolute values

[2021-03-01 21:26] FelixErnst commented on #67
What should `getTaxa` do? What would be different compared to `taxonomicRanks(x)` or `rowData(x)[,taxonomicRanks(x)]`?

[2021-03-01 21:28] antagomir commented on #66
Yep it would be an alias for `colSums`. More explicit for microbiome context but perhaps also more problematic and not really needed.

[2021-03-01 21:31] FelixErnst commented on #68
I am not 100% sure, what this function should accomplish.

If I understand it correctly, this would be the equivalent result?
[code]

[2021-03-01 21:33] FelixErnst commented on #69
Sure. Can you prepare an PR?

What would be the ouput type? From looking at it right now a small `data.frame` would probably be best

[2021-03-01 21:35] FelixErnst commented on #66
Thats what I would say. I think there is no benefit to wrap a base R concept with microbiome terms. This will only lead to non-reusable knowledge. However, the concept can be explained in `MiaBook`

[2021-03-01 21:35] #66 closed, assigned to nobody

[2021-03-01 21:48] antagomir commented on #69
A data.frame would be best I think, too.

We can prepare PR later. We could start prioritizing issues because there are too many PRs to do at the same time.

[2021-03-01 21:54] antagomir commented on #68
Yes. The idea is to add easy-to-use shortcuts for common functionalities.

`map(x, from = "genus", to = "species") ` (or something like that) could be more rapidly readable than the expression above.

Although the specific way to implement and write that could be debated, the idea is to provide an intuitive shortcut.

[2021-03-01 22:03] antagomir commented on #67
`taxonomicRanks(x)` lists the available ranks and `getTaxa(x)` would return taxa within a given rank.

In this sense, it would be similar to `rowData(x)[,taxonomicRanks(x)]` (which returns a data.frame) but instead return a vector that corresponds to a specific rank.

Hence, `getTaxa(x, "Genus")` would be a shortcut to `rowData(x)[, "Genus"]`.

Perhaps unnecessarily simple to implement. Again, mor

[2021-03-01 22:03] antagomir commented on #67
I open another issue of the second observation.

[2021-03-01 22:06] antagomir opened #70 "Naming scheme: getDominantTaxa to summarizeDominantTaxa?"
`getTopTaxa(x) ` returns a vector
"549656" "331820" "279599" "360229" "317182"

`getDominantTaxa(x)` returns a data.frame:

dominant_taxa n rel.freq rel.freq.pct
1 331820 3 11.5 12%
2 549656 3 11.5 12%
3 550960 3 11.5 12%
4 319044 2 7.7 8%

Suggestion; rename `getDominantTaxa` as `summarizeDominantTaxa` for a more consistent naming scheme.

[2021-03-01 22:15] microsud commented on #67
This would be something like phyloseq::get_unique_taxa(X)
https://rdrr.io/bioc/phyloseq/man/get_taxa_unique.html

rowData(x)[, "Genus"] will return all not just unique.
These are useful functions when exploring data.

[2021-03-01 23:41] antagomir commented on #67
Yes, even though the unique could be an optional function argument (perhaps TRUE by default).

These are useful for data exploration also in my experience. This is why I have opened the issue and I think we should facilitate these things.

Of course some of that could go to other utility packages if that is somehow better.

[2021-03-03 08:30] FelixErnst commented on #69
I think this should be added to `getTopTaxa` since this is a summarizing function as well. Maybe the man page needs to be reworked to reflect the intention of the shown functions better, but the foundation for summarizing data is already available.

@microsud

[2021-03-03 08:39] FelixErnst commented on #67
I think this should be linked the summarization issue #69 There are a few related functions, which should be moved to a single man page to provide a better overview with a single man page and not having to go through several.

[2021-03-03 09:03] FelixErnst commented on #65
I think this a broad topic, which is probably best moved to `MiaBook`. The examples from `microbiome` show a clear example, but this cannot be generalized in a sense, that it works for all datasets independent of size, at least for the plotting functions. At some point they become just to big to make sense of.
 In addition, tools like `MOFA2` provided probably a more comprehensive way of investiga

[2021-03-03 09:06] FelixErnst commented on #70
This a triplet of the discussion we are having in #69 and #67. Lets focus it in one thread and make sure we discuss the individual functions in the grant scheme of things. #69 seems to be the best fit for the general idea behind all this.

[2021-03-03 09:16] FelixErnst commented on #64
As far as I understand it, this should do the following:
- calculate a distance measurement select by `method` specifically in a 1:many basis
- return a numeric vector.

Is that correct?

If it is a yes, wouldn't this do the same thing? (mat = abundance matrix, x = the abundance value of a single sample)
[code]

[2021-03-03 09:17] FelixErnst commented on #64
I think, if we want to implement this functionality, the name has to be more on point.

[2021-03-03 09:19] FelixErnst commented on #33
ca237db

[2021-03-03 09:19] #33 closed, assigned to antagomir, FelixErnst, TuomasBorman

[2021-03-03 09:50] antagomir commented on #64
Yes, this is the point except that there could be additional arguments to tune sample sizes and possible other relevant factors (how the reference sample is chosen etc) because these may influence comparability of the divergence index between different groups. This index is correlated with sample size, for instance and therefore cannot be directly compared between groups with different sample size

[2021-03-03 09:51] antagomir commented on #65
Yes I agree completely. It could make more sense to provide example workflows for this kind of things, rather than specific functions.

[2021-03-03 12:24] FelixErnst commented on #64
In the example given about, the assumption is made, that the reference information are provided as `x`, which can be used to connect to different sample sets. The number of samples wouldn't matter in that case, just the same number of features and by implication the same identity of features would be required.

Is that correct?

[2021-03-03 13:37] antagomir commented on #64
Yes, same features should be required so that the comparisons are meaningful.

The function itself could do subsampling for the samples to a predefined sample size (function argument).

[2021-03-03 13:38] antagomir commented on #64
This feature is less popular / less widely used and therefore not necessarily top priority.

[2021-03-03 13:45] TuomasBorman commented on #58
It is now added

https://github.com/FelixErnst/mia/pull/71

[2021-03-04 14:04] carlosmandoz opened #72 "cannot install on R 4.0.3"
Hi,

I tried all kinds of routes to install but in the end I always end up at:

[code]

It does not matter whether Windows, Mac OS on different Computers. This indicates for me that the simple

[code]

does not work universally. Any ideas how to resolve this?

[2021-03-04 14:15] FelixErnst commented on #72
Hi,

the error message gives it away. `scuttle` and `microbiomeDataSets` are not installed on your system. For a more comprehensive answer, you need to provide the full output of your call to `BiocManager::install` and the ouput of `sessionInfo()`.

In the meantime: to install `scuttle`, try this:
[code]

For `microbiomeDataSets` try this:
[code]

If you cannot install either packages, then my gue

[2021-03-05 08:12] FelixErnst commented on #72
@carlosmandoz could you solve your problem?

[2021-03-05 08:16] carlosmandoz commented on #72
Dear Felix,

thanks for getting back so quickly. I could partially solve it: I could install scuttle. But when I install microbiomeDataSets I get the following error message:

[code]

I tried to install TreeSummarizedExperiment using Biocmanager and tried again but that did not help. Updated to R 4.0.4 and tried all again, also without success.

[2021-03-05 08:42] FelixErnst commented on #72
Thats because you need the development version of `TreeSummarizedExperiment`. You have to upgrade `R-devel` and Bioc 3.13 or install `TreeSummarizedExperiment` from GitHub.

In addition, I would like to remind you to post complete calls and outputs and the your `sessionInfo` next time.

[2021-03-05 08:52] carlosmandoz commented on #72
This worked!

[2021-03-05 08:52] #72 closed, assigned to nobody

[2021-03-05 11:42] antagomir commented on #65
I now opened this as an [issue#16](https://github.com/microbiome/MiaBook/issues/16) in MiaBook.

[2021-03-05 11:43] antagomir commented on #58
Have you added unit tests as well @tvborm ?

[2021-03-05 12:02] antagomir opened #73 "Naming schemes for the various alpha diversity indices"
Related to discussion in MiaBook [PR#14](https://github.com/microbiome/MiaBook/pull/14).

We have several "alpha diversity" indices and methods. Alpha diversity is a vast general category that is often seen to cover richness, evenness, diversity, and related indices. It is also fundamentally different from another common concept, beta diversity, and confusion between alpha and beta diversity must

[2021-03-05 12:48] microsud commented on #73
Makes sense to me.

This is good. We expect researchers with all levels and kinds of expertise digging into `microbiome` research, avoiding potential confusions is important.

[2021-03-05 18:28] FelixErnst commented on #73
PRs welcome. Lets get this done.

However, I would like to stress that a catchy and easy to understand function name goes a long way. Secondly spell the reasons for grouping the indices the way you outlined it here in the description of the man pages. Thirdly, add a comprehensive details section on each index so that all the information required is at one place.

[2021-03-05 19:21] antagomir commented on #73
I started to look into this, and now converging to the conclusion that it would be better to keep all these distinct concepts separate, and remove the `estimateAlphaDiversity` wrapper entirely. It is better to keep the concepts clear. Users can easily combine them if needed, it is just five different (albeit related) types of indices. This is also helping to avoid confusion with relatively similar

[2021-03-09 15:49] #58 closed, assigned to antagomir, TuomasBorman

[2021-03-09 15:49] FelixErnst commented on #58
c2f55aa

[2021-03-09 15:59] FelixErnst commented on #68
Can you describe a scenario in, which you use this function? What is the aim that should be accomplished or the question which should be answered?

[2021-03-09 16:01] antagomir commented on #73
Will do "soon".

[2021-03-09 16:04] FelixErnst commented on #73
No problem. I assigned the issues based on similarity. Since you and Tuomas are already working on this and also in `MiaBook`, there is no point in diverting it to someone else

[2021-03-11 15:58] antagomir opened #75 "LICENSE file"
R packages typically have LICENSE file in the package root directory, and DESRIPTION files states e.g. "License: Artistic 2.0 + file LICENSE". I noticed however that the mia pkg does not have [LICENSE](https://www.r-project.org/Licenses/Artistic-2.0) file included. Is this intended, shall we add?

[2021-03-12 09:18] FelixErnst commented on #75
f45c77f

[2021-03-12 09:18] #75 closed, assigned to FelixErnst

[2021-03-12 19:00] antagomir opened #77 "Rename calculateDistance"
The `calculateDistance` is using the various dissimilarity indices that are available through vegan. Some of those are not _distances_, for instance Bray-Curtis is not a distance (it does not satisfy triangle inequality). This is an important difference.

I propose to rename this function as `calculateDissimilarity`.

In addition, it could be mentioned more clearly in the manpage that these same i

[2021-03-12 19:09] antagomir opened #78 "Rename runCCA"
The function `runCCA` performs Canonical Correspondence Analysis.

CCA refers also to Canonical Correlation Analysis, which is another widely used technique that is relevant to multi-omics data integration (equivalent of PCA for two data sets). It is very much possible that this will be implemented in mia or related packages in the foreseeable future.

In order to avoid confusion, I would suggest

[2021-03-12 19:27] FelixErnst commented on #78
I think this is something for the future. Currently it is a wrapper for the `cca` function from `vegan` and alos links to it. I don't see a problem there for now. The notion that there might be a clash for me is to preemptive.

Please feel free to open this, when a Canonical Correlation Analysis is to be implemented.

[2021-03-12 19:27] #78 closed, assigned to nobody

[2021-03-12 19:29] FelixErnst commented on #77
This function will be removed as well, since the functionality was just there to support `runMDS2`. There is need for it anymore.

[2021-03-14 16:14] antagomir opened #80 "Potentially confusing colData augmentation"
Just noticed that the `estimateDiversity` and other related functions are directly adding new columns to colData, even if the colData already has elements with the identical names.

Not knowing this, it took a while to realize that one error message that I got was related to this. Potentially confusing and error prone.

We could either overwrite the past values that had the same name, or provide w

[2021-03-14 18:28] FelixErnst commented on #80
I don't see the problem. The user can always choose a different name for the values to be added to and if he/she/they uses the default values and in the special users context they don't apply, it is not our fault.

For example: If the user save values to the `colData` named `shannon` and runs `estimateDiversity` and expect the original value to be present, he ran `estimateDiversity` without readin

[2021-03-14 18:37] antagomir commented on #80
The error message I mentioned came when I tried to pick a field by its name, and got unexpected values. Then, investigating this I noticed that the colData had several columns with the same name and picking a field by its name returned one that had the same name but different contents.

If the general idea is to help users by implementing the functionality so that unexpected errors do not happen e

[2021-03-14 18:38] FelixErnst commented on #80
Then it would be good to add this check into `.add_values_to_colData`. That way you catch it for all functions. See comments in #79

[2021-03-14 18:58] antagomir commented on #80
Yes, it came up while digging that one. I can add this in that PR.

[2021-03-14 23:45] antagomir commented on #80
I am now adding a warning in the other PR. However, continuing discussion in this issue because I would like to ask if it is completely out of question to add an argument that would allow the user to override the previous values..

Like: `tse <- estimateDiversity(tse, replace = TRUE)`

[2021-03-15 08:09] FelixErnst commented on #80
The values need to be overwritten always. The user has the option to use another name.

However, if the name already exits, a warning is issued. Thats it.

edit: The rational behind it is as follows:
- the user has the option to choose a name he likes or thinks is best
- this is implemented in a single option
- If the user messes up, we let him know

[2021-03-15 08:12] antagomir commented on #80
Just checking - if the name already exists, and a warning is issued + new field with the identical name added, then the values will not become overwritten. What does it then mean in this context that the values need to be overwritten always?

[2021-03-15 08:13] FelixErnst commented on #80
No. the values gets replaced. I mean you can spell the problem out in the warning, if you want to but it comes down to `read the manual`

[2021-03-15 08:19] FelixErnst commented on #80
That the current behaviour is correct. The value will be replace. The only addition is, that the user gets warned about it.

[2021-03-15 08:22] antagomir commented on #80
The previous values are not replaced. A new field is added instead.

With "value is replaced" I get that the values in the previously created field would get overwritten. This does not happen in the present implementation. Do you mean that it does happen now, or that we should change the implementation so that it would happen this way in the future version?

Do we understand the terms in a differe

[2021-03-15 08:25] FelixErnst commented on #80
I messed up. It should be replaced ... arg... Thats was on piece of paper ToDo List.. I will have a look at the PR and think about it.

[2021-03-15 08:26] antagomir commented on #80
Ok great! :-) I was confused for a reason.

[2021-03-15 08:32] #80 closed, assigned to nobody

[2021-03-15 13:08] antagomir opened #81 "Add Faith's phylogenetic alpha diversity"
Add implementation of Faith's phylogenetic alpha diversity in `estimateDiversity`.

This is tree-based alpha diversity measure and would nicely complement the other (non-tree) based ones.

The `picante::pd()` provides one implementation (GPL2). It would add a dependency here, or we could add our own implementation to reduce dependencies. This measure is not overly complex.

[2021-03-15 14:08] FelixErnst commented on #81
For this to be implemented, first it has to be decided, whether you want to reuse the `estimateDiversity` function name. If yes, three things need to be adjusted:

1. the generic has to be expanded with a `tree` arguments, which is then `missing` for all functions currently implemented.
2. a method has to be added for a signature `c(x="SummarizedExperiment",tree="phylo")`, which splits the workflo

[2021-03-15 14:13] antagomir commented on #81
In my opinion it would be good to have also 1. implemented. The alpha diversity are all conceptually similar, Faith is just able to take into account some additional information not used by the other indices.

[2021-03-16 09:44] FelixErnst commented on #73
Can this be closed?

I think this is solved with 4866ece

[2021-03-16 11:22] #73 closed, assigned to antagomir

[2021-03-17 10:50] antagomir opened #82 "getRareTaxa duplicates"
The `getPrevalentTaxa` and `getRareTaxa` should work the same way but they do not.

- The values returned by `getRareTaxa` are not unique (should be, as in `getPrevalentTaxa`)
- The values should be complement (no overlap) ie rare should be all taxa minus prevalent taxa; there is overlap however

`
prev <- getPrevalentTaxa(GlobalPatterns,rank = "Phylum")
head(prev)
`
[1] "Crenarchaeota"  "Euryarch

[2021-03-18 10:21] FelixErnst commented on #82
25575d0b85f5451c7ac0559dc04dc6bea6232bb8

[2021-03-18 10:21] #82 closed, assigned to TuomasBorman

[2021-03-18 10:22] FelixErnst commented on #59
Is this solved?

[2021-03-18 10:23] FelixErnst commented on #30
#57 and benjjneb/decontam#89

[2021-03-18 10:35] antagomir commented on #59
No. But it is not urgent or very critical either. There are some interesting rarity indices (log_modulo_skewness) that could be migrated from microbiome package, and that could complement alpha diversity indices. But this is not necessary for Bioc submission. Is there another way to list non-urgent development ideas, rather than through issues?

[2021-03-24 13:27] antagomir opened #87 "Import data from text files"
We only have data import from QIIME2 format (from external files), and then we have converters (within R) from DADA2, Biom, phyloseq to TSE.

I suggest adding import function that could import data from text files straight to the TSE format, similar to [microbiome::read_csv2phyloseq](https://github.com/microbiome/microbiome/blob/master/R/read_csv2phyloseq.R) and written in the style of [mia::loadF

[2021-03-24 13:32] antagomir opened #88 "Loading Mothur data"
We seem to miss Mothur importer, this could be added similar to [mia::loadFromQIIME2](https://github.com/microbiome/mia/blob/master/R/loadFromQIIME2.R).

We have one in [microbiome::read_mothur2phyloseq](https://github.com/microbiome/microbiome/blob/master/R/read_mothur2phyloseq.R) and this might help to get it started.

[2021-03-24 13:45] FelixErnst commented on #87
TL;DR: I don't think this will work.

Which restriction do you want to apply? Which format must the csv-file have for the import to work?

If this just about importing count data the examples [here](https://bioconductor.org/help/course-materials/2019/BSS2019/04_Practical_CoreApproachesInBioconductor.html) (step 3) are quite comprehensive.

If it is about importing taxonomic or sample data alongsid

[2021-03-24 13:46] FelixErnst commented on #88
This seems reasonable. Can you implement it?

[2021-03-24 13:51] antagomir commented on #87
Fair enough. Some users seem to have data as CSV files (abundances, sample data, tax tables). Obtained from external providers and with difficulties to get other formats. I am getting these questions from users through different routes.

Hence, reading from text (CSV) files is an option that should be supported at least the level of documentation.

Perhaps easiest solution would be to cite that SE

[2021-03-24 13:51] antagomir commented on #88
Me or @tvborm

[2021-03-24 13:55] FelixErnst commented on #87
Thats probably the best way to start. The short version would be just 4 lines of code:

[code]

[2021-03-24 14:47] antagomir commented on #87
Made [PR #19 in MiaBook](https://github.com/microbiome/MiaBook/pull/19).

[2021-03-24 14:47] #87 closed, assigned to nobody

[2021-03-30 19:27] benjjneb commented on #30
Apologies for being slow on this. I've been teaching a new class this semester.

I should be able to test the PR on a full decontam workflow I have locally and then pull it (or request changes) in the next week.

[2021-04-07 12:27] FelixErnst commented on #59
I added this for the Bioc 3.14 milestone. Maybe this can help plan the implementation

[2021-04-08 15:27] benjjneb commented on #30
Tests all passed on my end. One last small request to update the documentation for the data types accepted by `isContaminant`: https://github.com/benjjneb/decontam/pull/89#issuecomment-815914287

[2021-04-08 17:34] #81 closed, assigned to antagomir, microsud, TuomasBorman

[2021-04-16 18:02] #88 closed, assigned to TuomasBorman

[2021-04-16 21:54] #30 closed, assigned to FelixErnst

[2021-04-29 15:03] exod1a opened #91 "CLR transform doesn't include relative abundance step"
Hi
I noticed that when computing the CLR transform from the transformCounts() function and comparing it to the result from when I first calculate the relative abundances and then apply the CLR transformation, the results were different. Leo said it would be good to mention this to see if you want to keep it this way or change it. Here is an example that reproduces what I mentioned above.

[code]

[2021-04-29 15:31] FelixErnst commented on #91
@tvborm

Can you have a look at it?

[2021-04-29 15:40] antagomir commented on #91
To me it seems that the default behavior should be so that "compositionality + clr" gives the same result than "clr" when applied to count data. If there are other views, I would be curious to hear the justifications - @tvborm can check we had just missed to include compositionality transformation as a preprocessing step as part pf the clr procedure (should be I think).

[2021-04-29 16:03] FelixErnst commented on #91
This is due to pseudocount being applied.

[2021-04-29 16:10] antagomir commented on #91
I thought so. I think that this should give a warning if user is trying to add pseudocount 1 on relative abudances?

[2021-04-29 16:53] FelixErnst commented on #91
Should be fixed now.

[2021-04-29 16:54] FelixErnst commented on #91
@tvborm The snakemake run took longer than expected. So I had the time. I hope you don't mind.

[2021-04-30 08:19] TuomasBorman commented on #91
@FelixErnst that's totally fine, thanks for fixing it

[2021-04-30 14:01] antagomir opened #93 "Split transformCounts to row and col specific functions"
The current `transformCounts` contains operations for both samples (clr, hellinger etc.) and features (Z). In the future, we may like to add some that could be applied in either direction (rank index).

1. Splitting `transformCounts` into `transformSamples` and `transformFeatures` would be a more clear and informative naming scheme.

2. Can we consider changing the argument name "abund_values" int

[2021-04-30 14:04] antagomir opened #94 "Add new method to transformCounts for returning ranks of abundances"
Rank index is needed in certain non-parametric operations. I suggest to add this as one transformation.

Abundances would be transformed as: `x <- order(x)`

Related to #93

[2021-05-01 09:50] FelixErnst commented on #93
My 2 cents:

1. I think the was discussed priviously, wasn't it? I think it would make much more sense. However, note that currently only Z transformation works in a rowwise manner and is not availavble through `transformCounts`. So the split is effectively alread in place. (`transformCounts` would need to be kept as an alias form `transformSamples` for backwards compatibility)
2. Why? All functio

[2021-05-01 09:56] FelixErnst commented on #94
The concept is not clear to me.

In addition the command `x <- order(x)` is ambiguous for any two dimensional object and I also would like point out two things problematic with concept as laidout above:
1. `order` returns an ordering integer vector. Overwriting `x` with it probably does not make sense. Did you mean `sort`?
2. Ordering of `SE` object is already available via `se[new_order_row,new_o

[2021-05-01 10:36] antagomir commented on #94
Rank tests are a routine workhorse for non-parametric tests and having the ability to add such assay easily through a transformation would be useful. Because such transformation needs to be done for certain tests or visualizations.

The `x <- order(x)` was a brief example on how to do this per row or per column. In practice a sweep will be needed. Order returns the rank for each entry. I did mean

[2021-05-01 10:41] antagomir commented on #93
1. Yes we discussed this earlier but it has not been implemented while we got more experience with incorporating these things in workflows. It seems that we agree, so we could proceed with this split?
2. Right, for compatibility with other pkgs perhaps it is justified then indeed. For me it is easier to thinkg of which "assay" we are operating on (as these are assays anyway) and abund_values does

[2021-05-01 10:41] FelixErnst commented on #94
So the idea would be more like function named `getRankOfAbundance`?

[2021-05-01 10:42] FelixErnst commented on #94
or more like `transformCounts(..., method = "rank")`?

[2021-05-01 10:43] antagomir commented on #94
The latter, yes.

[2021-05-01 10:59] FelixErnst commented on #93
Sure go ahead with the implementation. I think this just a bit of rearranging and generalization need. I think the current argument name has its merrits from the conceptual side of things

[2021-05-01 11:08] antagomir commented on #93
Great. Me or @tvborm will do this when time allows.

[2021-05-12 09:26] antagomir commented on #94
I got to test this now. The `.calc_rank` function internally uses the `ties.method` argument (of colRanks function). This has been set to `ties.method="min"`. This is not the default in colRanks, and the user is not given an option to change this.

I propose the following changes:
- default should be ties.method="first"
- user should have access to this argument through `transformCounts` (`"..."`

[2021-05-12 15:37] FelixErnst commented on #94
I am of two minds on this

1. This method implements a specific fixed rank calculation.
2. If it is just a wrapper of colRanks, maybe we should skip implementing the wrapper and just use `assay(se,"whatever") <- colRanks(assay(se, "whichever"))`

So from that point of view, I thought this was a specific use case, which warrants fixing the `ties.method` argument. If that is not the case, removing t

[2021-05-12 20:34] antagomir commented on #94
Right. No strong opinion as long as the use case is shown for instance in OMA.

We can have (1) by providing the well-thought default value, even if we allow other choices through `ties.method`.

But it is also true that the other transformations do not have such flexibility.

I could do with either option. For now, I would propose keeping (1) and changing the default to `ties.method="first"` (unl

[2021-05-12 21:21] antagomir commented on #94
The point (2) does  not seem to work out of the box

[code]

[2021-05-13 07:39] FelixErnst commented on #94
How about
[code]
?

edit:

Alternative, which should be faster
[code]

[2021-05-13 08:28] antagomir commented on #94
Yes that's ok. I added an example.

[2021-05-13 08:28] #94 closed, assigned to antagomir, TuomasBorman

[2021-05-21 13:14] antagomir commented on #93
Very good that this is now implemented.

I just noticed that examples include ecological (sample-wise) transformations, being applied to features.

[code]

This may have missed my attention previously.

Many of the transformations are ecologically motivated, and essentially never done for features. I propose to disable the use of such transformations for features, and update the examples according

[2021-05-21 13:20] TuomasBorman commented on #93
Ok, I can do that, it shouldn't be big thing. The intention was to allow all kind of transformations. I didn't really think about the thing from this point of view

[2021-05-21 13:47] antagomir commented on #93
Ok great! We are helping the users by not allowing them to make very unconventional (and probably misinformed) choices.

[2021-05-21 13:55] FelixErnst commented on #93
Sorry I missed this, but this can be easily fixed.

Just remove the offending options from the generic and method and include a match call to `match.arg`, e.g. `method <- match.arg(method, c("clr", "hellinger", "log10", "pa", "rank", "relabundance"))` for transformSamples.

What I missed as well is the addition of `transformSamples` generic and method. `transformCounts` should be only a wrapper fo

[2021-05-23 21:37] antagomir commented on #93
Seems good overall but Felix may better comment the generics and methods.

[2021-05-23 21:41] antagomir opened #103 "phILR transformation"
We should consider adding phILR transformation to `mia`

This is phylogeny-aware transformation that additionally requires a tree. It has been successfully used in some recent studies.

[2021-05-26 13:50] FelixErnst commented on #69
@antagomir @microsud any new insides on this? I think a set of summarization functions should be most applicable. `summarizeTaxa` would describe the idea behind the three linked issues the best.

Do you agree that `getDominantTaxa` can be reworked to `summarizeDominantTaxa`? On the same man page `summarizeTaxa` could reside as well.

[2021-05-26 13:53] FelixErnst commented on #59
@antagomir  Would this be solved by the linked PR?

[2021-05-26 14:08] antagomir commented on #59
log modulo skewness is one kind of diversity measure, with a focus on rarity; the `rarity` function is solved by adding `log_modulo_skewness` as an option in `estimateDiversity` in #102

The need for `rare` and `rare_members` is not solved by that.

[2021-05-26 14:13] antagomir commented on #69
I am ok with this at least. It is just useful to have 1) easy way to pick up dominant or "top" taxa (various criteria could be possible, considering abundance or prevalence features): and 2) concise summaries as has been implemented by @microsud earlier in phyloseq context.

[2021-05-26 19:02] microsud commented on #69
I will work on this in the coming days, was avoiding updating the R version on my system :P
Some comments:
The `getDominantTaxa` parts of which are inspired from [microbiomeutilties::dominant_taxa](https://github.com/microsud/microbiomeutilities/blob/master/R/dominant_taxa.R) can be renamed as `summarizeDominantTaxa` as it returns a tibble with overview. On the other hand, `dominantTaxa` adds a co

[2021-05-27 07:29] microsud commented on #69
I am thinking of how best to make summaries. Only raw `counts` should be allowed because that is what is meaningful.
1. Overall based on all samples and all features counts
![image](https://user-images.githubusercontent.com/16476233/119781540-6c53c580-becb-11eb-9c9f-1e5ac1333827.png)
In any publication one would like to mention these basic stats.

2a. Per sample information
![image](https://user-i

[2021-05-27 07:49] antagomir commented on #69
Seems good to me at least for now. We can later add more if this turns out to be necessary.

In principle, the summary could also summarize taxa & metadata features in the same style as glimpse() does but perhaps `glimpse(colData())` or `glimpse(rowData())` is already enough.

[2021-05-27 08:35] TuomasBorman commented on #69
Yep, sounds good, I can make those changes

[2021-05-27 12:23] FelixErnst commented on #69
Regarding the sample wise/feature wise summarization: Please have a look at `addPerCellQC`/`addPerFeatureQC` and check, which values are missing from that output. If it is just a few, one could use the output of those functions as a basis and add additional ones.

It might also be a good idea to follow the nomenclature. `add*` returns a changed input with values added to the approproate metadata d

[2021-05-27 12:24] FelixErnst commented on #69
Just as thought maybe this could all be tied together via a single man page, maybe under the name `qc-functions`

[2021-05-27 18:34] FelixErnst commented on #93
Closed via #102

[2021-05-27 18:34] #93 closed, assigned to antagomir, TuomasBorman

[2021-05-28 09:02] TuomasBorman commented on #69
So, if I understood correctly

1 There should be additional R/Rmd files (`qc-functions`) for summarization functions.
- `summarizeDominantTaxa` (currently `getDominantTaxa`) should be moved there
- all other functions for summarization

2 `getDominantTaxa.R `should include
- `dominantTaxa`
- additional `addDominantTaxa` which works as a wrapper for `dominantTaxa`

I'm just wondering if I can modif

[2021-05-28 09:12] antagomir commented on #69
Yes I think it is ok to do this way.

[2021-05-28 09:19] microsud commented on #69
I am working on general-purpose summarization functions. You can start by making `summarizeDominantTaxa` function, in summaries.R, after that I will add `summarizeSE` to that same file. These are basic summaries.
Then there are QC related functions such as `perFeature` and `perSample` metrics which I will add to `qc-functions.R`.
@FelixErnst and @antagomir okay with this plan?

[2021-05-28 09:22] antagomir commented on #69
Ok to me for now. Good to move forward.

[2021-05-28 09:54] FelixErnst commented on #69
Sounds good. Feel free to make adjustment, when you encounter better options. We can discuss it in the subsequent PR.

[2021-06-02 18:09] FelixErnst commented on #67
Closed by 470fdbe #104

[2021-06-02 18:09] #67 closed, assigned to antagomir

[2021-06-02 18:10] FelixErnst commented on #70
Closed by 470fdbe #104

[2021-06-02 18:10] #70 closed, assigned to antagomir

[2021-06-02 18:11] FelixErnst commented on #69
@microsud do you want to continue with microbiome specific metric functions?

[2021-06-02 18:12] microsud commented on #69
Yes as soon as find time. Can we keep this open?

[2021-06-03 08:09] TuomasBorman commented on #59
Hi,

about this `rare` and `rare_members` thing.

- Do we already have `microbiome::rare_members`? I think `getRareTaxa` does the job. It returns taxa whose abundance are under specific threshold. It's complement to `getPrevalentTaxa`/`microbiome::core_members`.

- What we don't have are `microbiome::rare` and `microbiome::core`; functions that return a subset. So, I think those could be created a

[2021-06-03 09:08] TuomasBorman opened #105 "Additional branch can be deleted"
Hi,

I found that branch `log_modulo_skewness` still exist. It can be deleted.

I accidentally made `transformCounts_fix` branch based on `log_modulo_skewness` branch, so it included all the changes from both branches

PR: https://github.com/microbiome/mia/pull/102

-Tuomas

[2021-06-03 09:34] FelixErnst commented on #59
So I looked up, how `rare` is implemented in `microbiome`.

The `subsetRareTaxa` name is a bit unclear for my taste. Are taxonomic values subset or are taxonomic information used for subsetting?

`subsetToRareTaxa` and `subsetToPrevalentTaxa` might a bit more clear. I would also put it in `getPrevalence.R`

[2021-06-03 11:02] #105 closed, assigned to nobody

[2021-06-04 10:19] antagomir commented on #59
I am ok with these.

[2021-06-04 17:55] #59 closed, assigned to antagomir, TuomasBorman

[2021-06-04 17:57] FelixErnst commented on #68
bumping this. Any additional information/example you can provide?

[2021-06-06 10:07] antagomir commented on #68
Thanks - we frequently need to ask
1. what more refined groups (ASVs, species..) are included in a particular phylum or family
2. what is the corresponding phylum (or other higher level) for a given ASV, species or genus

We use this frequently in miscellaneous data wrangling & interpretation tasks, there is `microbiome::map_levels` for phyloseq objects.

If this does not fit mia, we can consider

[2021-06-10 12:45] #68 closed, assigned to nobody

[2021-06-30 21:01] HenrikEckermann opened #108 "tse to pseq works only when tse is not agglomerated"
Hi,

if we first agglomerate data in a tse object to e.g. Phylum level and then try to convert to pseq, we get an error `Error in validObject(.Object): invalid class "phyloseq" object:
Component taxa/OTU names do not match.`. The function only works when data is not agglomerated before.

Example where tse is any tse object with e.g. a count assay:

[code]

I had a look at the function: If I take o

[2021-07-01 13:19] TuomasBorman commented on #108
It is caused, because by default `rowtree` is not agglomerated. It still has those OTU level taxa, which do not match with agglomerated taxa. When argument `agglomerateTree = TRUE`, then it works.

Should the value of `agglomerateTree` be `TRUE` by default. The problem is hard to solve by user, but is there any drawbacks if it is `TRUE`?
[code]

@antagomir @FelixErnst

[2021-07-01 13:35] antagomir commented on #108
Great. I am not sure why we have chosen to have it FALSE by default, I do not immediately see reasons against changing to TRUE. In a way, that would seem better justified if the user is interested in agglomeration? What are the advantages of having this FALSE by default (if any)?

[2021-07-02 09:37] TuomasBorman commented on #108
When `agglomerateTree` is `TRUE`, it causes an error when there is no `rowTree`. That can be easily handled, e.g. by checking if `rowTree` exists

Also, pruning causes a warning but I think it's how it works `Warning in toTree(td) : The root is added with label 'ALL'`

[2021-07-02 09:46] antagomir commented on #108
I think this is ok.

[2021-07-02 18:50] FelixErnst commented on #108
In case you want to agglomerate but keep the tree in its original state (for example a tree generated via FastTree), then the default value is much more user friendly.

I would suggest keeping the default value `FALSE`, but include a check in `makePhyloseqFromTreeSummarizedExperiment`. This is where the error occurs, since the input is not validate in the required detail.

[2021-07-02 18:54] FelixErnst commented on #108
In addition you can also view it like this:

`makePhyloseqFromTreeSummarizedExperiment` has to work with every `TSE` out there, not the ones only created/modified via `mia` functions. Since @HenrikEckermann used a valid `TSE` object as input, the fault lies within `makePhyloseqFromTreeSummarizedExperiment` and not somewhere else.

[2021-07-03 13:00] TuomasBorman commented on #108
That's ok for me. I was just wondering if user makes an assumption that also the `rowTree `is agglomerated when user does the agglomeration.

Also making `agglomerateTree = TRUE` breaks couple of functions so this might be a better approach

So:
- `agglomerateTree` stays as `FALSE`
- `makePhyloseqFromTreeSummarizedExperiment` check if `rownames` and `tip labels` match
[code]

[2021-07-03 14:47] FelixErnst commented on #108
Is that the only assumption a phyloseq object requires? I mean a match between tips and rownames? If yes, pruning the tree with a warning in `makePhyloseqFromTreeSummarizedExperiment` could also work.

[2021-07-03 17:50] TuomasBorman commented on #108
I think that is the only assumption: tips of rowtree and rownames must match.

I think
[code]
would do that. However, I'm wondering if there could be a situation where that does not work. Should that be, e.g., inside `try-catch`? Otherwise the error could be hard to solve by user

[2021-07-03 20:17] TuomasBorman commented on #108
Actually as far as I know, `rownames(x)` do not have to match with `rowTree(x)$tip`. However, every `rowTree(x)$tip` must be found from `rownames(x)`, but `rownames(x) `can contain higher level taxa also. E.g. it can contain `Kingdom:Bacteria`, when data is agglomerated to, e.g., `Phylum` level.

[2021-07-03 22:00] antagomir commented on #108
This would mean that `agglomerateByRank` could, in principle, just add the higher-level agglomerated taxa to the `rowData`? - at the moment agglomeration replaces `rowData` entirely.

We have at least three options for storing the agglomerated assay:

1. Replace rowData with the agglomerated version
2. Add the agglomerated data to existing rowData, as higher-level nodes
3. Add the agglomerated dat

[2021-07-04 06:22] FelixErnst commented on #108
This is not a discussion about `agglomerateByRank`, but about `makePhyloseqFromTreeSummarizedExperiment`. Therefore everything in this issue should be about the latter function.

As Tuomas has said, the assumptions a `phyloseq` object requires for a tree are quite soft and similar to the one `TSE` has. The difference is, that `TSE` matches the relation with `rowLinks` and does not require name mat

[2021-07-04 06:24] FelixErnst commented on #108
@antagomir
The workflow you describe is covered by `splitByRanks`/`unsplitByRanks` (Have a look at the man page or the pkgdown site). It uses `agglomerateByRanks` internally, but we cannot add another layer of functionality on top of an already compley function. This would be hell

[2021-07-04 06:50] antagomir commented on #108
Very good, I had missed `splitByRanks` / `unsplitByRanks` and indeed great to have that as well, although irrelevant here. We just need a way to convert to phyloseq now, and the latest suggestion on renaming the tree tips linked to rows by @FelixErnst seems good to me.

[2021-07-13 07:44] HenrikEckermann opened #112 "adding rarefaction (e.g. to transformCounts)"
Hi,

I noticed that mia has already several options to transform counts. I think it would be a good addition to add to the `transformCounts` function to transform counts to rarefied counts. I could have a look at the end of the week if I am able to help with this.

[2021-07-13 08:25] antagomir commented on #112
Hi - this is useful but first let us make sure that there are no existing solutions in the (T)SE ecosystem. This is a common task and if we did not implement it for `mia` yet, it may be readily available in the SingleCellExperiment ecosystem. In that case, we could instead 1) add an example to OMA and 2) consider if we need alias of some modified capabilities for microbiome data (which I am not su

[2021-07-14 06:37] HenrikEckermann commented on #108
I updated using `remotes::install_github("microbiome/mia")`
With the same dataset I can now convert the Phylum level TSE object to pseq, although that gives a warning:

[code]

However, trying to do the same at the genus level gives another error now:

[code]

[2021-07-14 07:50] TuomasBorman commented on #108
That warning is expected, error not.

That error happens when pruning is done.
[code]

For example, GlobalPatterns has these duplicated, and because there are duplicated names, error occurs
[code]
Actually, what I found, this also lead to an error, so I think this needs to be checked more throughout
[code]
So, this also leads to an error
[code]
So duplicated rownames seems to be not allowed

[2021-07-14 07:52] TuomasBorman commented on #108
[code]

[2021-07-14 18:44] TuomasBorman commented on #108
I think `phyloseq` and `tree` do not allow to use duplicated `rownames` / `tip labels`. This could work, but what are your thoughts?

I think this should be added to both sides (general and `TSE`) of the function
[code]

[2021-07-14 18:56] FelixErnst commented on #108
How about using `addTaxonomyLabel`, if duplicated rownames exist?

The function is quite powerful, but mostly used internally. It is basically a `please-make-my-labels-work` kind of function. Maybe give it a try?

[2021-07-14 19:13] TuomasBorman commented on #108
Sure, but I couldn't find this `addTaxonomyLabel`, which package provides it?

[2021-07-14 19:16] FelixErnst commented on #108
`mia`, but it is `getTaxonomyLabel`, my mistake.

https://github.com/microbiome/mia/blob/3c46cc4089b78ce9a587150ab38683eab0008a3a/R/taxonomy.R#L246

[2021-07-14 19:17] TuomasBorman commented on #108
ok, thanks, I will check that

[2021-07-15 20:18] #108 closed, assigned to HenrikEckermann, TuomasBorman

[2021-07-15 20:58] antagomir opened #114 "Examples of mia functions to OMA book"
There are many new functions in mia that are not included in [OMA](https://microbiome.github.io/OMA/).

Suggestion: let us systematically go through functions in mia, and open an issue for every functionality that should be demonstrated in mia vignette and/or OMA. Then from now on, let us aim to open such issues whenever new functionality is added.

OMA does not include all functionality, but all

[2021-07-18 15:18] HenrikEckermann opened #115 "manipulating data with the tidyverse when working in mia"
Hi,

just as in `phyloseq`, in `mia` you can quickly and easily extract, `colData`, `assays` and `rowData`. However, to use `dplyr` functions to manipulate e.g. `colData`, such as join-functions, you will have to extract the data, convert it to a `data.frame` and then in another step add the rownames to a column. The latter step has to be done not only for joining but also because if you use `dply

[2021-07-18 15:28] antagomir commented on #115
I have the impression that the use of rownames in data.frames is generally discouraged these days. If `tse` object construction requires this feature, we may want to revise this choice. We can open up another issue on that question if it seems relevant. This would have implicatins for the rest of this discussion.

Otherwise, I think there are benefits in supporting `tidyverse` way but this should

[2021-07-18 15:49] microsud commented on #115
Hi both- there is a set of tools that bridge BioC objects with tidyverse
https://stemangiola.github.io/tidySummarizedExperiment/
Something to inspect in detail.

[2021-07-22 13:22] antagomir commented on #64
Merged via #110

[2021-07-22 13:22] #64 closed, assigned to antagomir

[2021-07-22 15:40] antagomir commented on #114
Note that the mia homepage has a [list of exported functions](https://microbiome.github.io/mia/reference/index.html). This should help in the task. Then you can use grep or other word search methods on the Rmd files in OMA to check which of these are not included yet.

[2021-07-22 15:56] antagomir commented on #103
Opened an [issue in the philr package](https://github.com/jsilve24/philr/issues/16)

[2021-07-23 18:06] antagomir opened #117 "conversion function naming"
There are now functions `makeTreeSummarizedExperimentFromphyloseq` and `makePhyloseqFromTreeSummarizedExperiment` and capitalization of phyloseq is not uniform in these two. I suggest to unify. But not sure which way (phyloseq or Phyloseq). There are pros and cons. Any preferences?

[2021-07-23 18:26] TuomasBorman commented on #117
I vote for Phyloseq because `phyloseq` stands out better, and this follows better the overall naming scheme

[2021-07-25 13:44] antagomir opened #118 "Bioconductor devel submission"
Could we bump the current master to Bioconductor devel? There are some function updates that I would need in examples in a PR to philr package (to be added), and it would be best if the functionality was available through the latest Bioc devel version (rather than from Github master branch).

[2021-07-25 19:41] #118 closed, assigned to FelixErnst

[2021-07-25 19:41] FelixErnst commented on #118
done

[2021-07-27 08:09] TuomasBorman commented on #117
Closed via https://github.com/microbiome/mia/pull/119 and https://github.com/microbiome/OMA/pull/54

[2021-07-27 08:09] #117 closed, assigned to FelixErnst

[2021-07-30 10:02] antagomir opened #120 "Naming and subsetting in agglomerations (and elsewhere?)"
The naming in the output of `agglomerateByRank` is not necessarily as consistent as it could be.

Problem: the examples below show differences in `rownames()` for agglomerated `TreeSE` objects, and the name format varies by agglomeration arguments. This is important because rownames can be used subsetting, for instance by using functions such as `getPrevalentTaxa` (see below). Such operations run

[2021-07-30 20:11] FelixErnst opened #121 "Build error on Bioconductor"
https://master.bioconductor.org/checkResults/3.13/bioc-LATEST/mia/nebbiolo1-checksrc.html

[2021-07-30 20:18] FelixErnst commented on #121
Fixed by fd2ecf3 and 95eeac0

@TuomasBorman @antagomir

This was changed recently on the bioconductor systems. Beaware of those changes

[2021-07-30 20:18] #121 closed, assigned to FelixErnst

[2021-08-02 12:04] TuomasBorman commented on #120
I think shorter names are cleaner. Currently, longer names are used only when it's necessary, i.e., when taxon does not have name in that rank.

We already have function called `subsetByPrevalentTaxa` that does the subsetting. Is that enough?

However, for consistency, I think it could be beneficial to have agglomerated `rownames` always in "Genus:Sulfolobus" format

[2021-08-02 12:12] antagomir commented on #120
I agree that shorter names would be nicer but longer might be necessary for consistency.

It could (?) be an optional argument to provide short names but I am not sure if we like to provide that since removing the prefix is a one-liner.

The `subsetByPrevalentTaxa` is not necessarily sufficient in all cases.

[2021-08-02 12:24] TuomasBorman commented on #120
Yep, this should do it

`rownames(x) %>% stringr::str_remove(paste0(c(stringr::str_to_title(TAXONOMY_RANKS), ""), collapse = ":|"))`

it might be too much for this small task, because there are lots of examples about removing patterns from strings

[2021-08-02 17:22] FelixErnst commented on #120
Hmm,

It think this is not solved with a additional argument and a requirement via stringr to work on a character vector.

This would have been the easiest solution:

[code]

IMO this is a non issue. Do you agree?

MAybe this need some clarification on the man pages?

[2021-08-02 21:10] antagomir commented on #120
Good point, ok to me to do like this.

A clarification and example at the manpage of `agglomerateByRank` would help to clarify.

And in the related section discussing `agglomerateByRank` in OMA.

[2021-08-02 22:20] antagomir commented on #115
Good catch, thanks!

[2021-08-03 04:38] FelixErnst commented on #115
Can you give an example including the error given?

[2021-08-04 11:43] HenrikEckermann commented on #115
I just tried it out. It does not lead to an error. However, it will delete the column names of the assays automatically, which makes samples unidentifiable. It might lead to an error further down the line in case we have functions that work with rownames of the colData or columnnames of the assays.

However, given what Sudarshan found, we maybe do not have to think about this anymore. From my side

[2021-08-04 14:24] antagomir commented on #115
The last solution seems pretty neat and perhaps that could be added in the examples and/or OMA data manipulation section. Speedups may appear later.

The ability to easily merge data sets, keeping relevant row and col names is important and should not require sophisticated understanding and steps where these can be avoided.

[2021-08-04 16:36] FelixErnst commented on #115
Thanks for the example. I would be picky (sorry for that) and rephrase the sentence "The rownames are needed once you want to put data.frame back into the tse object" to this:

Since this is the issue, I would go with the `tidySummarizedExperiment` package for now and keep pestering Stefano with issues and requests, if you need additional functions and have suggestions for improving the package

[2021-08-04 16:37] FelixErnst commented on #115
But just for clarification: `tidySummarizedExperiment` shouldn't end up in the Imports or Depends, since this blow the footprint out of proportion.

[2021-08-04 16:41] #115 closed, assigned to antagomir, microsud, FelixErnst, HenrikEckermann

[2021-08-09 14:27] antagomir opened #123 "Robust CLR"
Add Robust CLR (rclr) as an option to `transformSamples`.

This should be just CLR but omitting pseudocount and zero abundance samples when doing the calculation.

Cite [this](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6372836/) and also check for the earlier original references.

[2021-08-10 21:20] antagomir commented on #77
Add a .Deprecate note on this function, if this is going to be removed?

[2021-08-10 21:34] antagomir opened #125 "calculateAitchison"
I propose to add a function `calculateAitchison`.

This would be similar to `calculateUnifrac` but it will not require tree and it will return Aitchison distances.

These are defined as Euclidean distances between clr-transformed values, by default calculated from the assay="counts" or assay="relabundances" (which should lead to same result, consider including a unit test for that..).

The user sh

[2021-08-10 21:36] antagomir commented on #125
@FelixErnst - wondering if we should have a more clear default policy here - how low barrier making PRs to external packages instead or expanding `mia`. Here we clearly have two options.

[2021-08-11 08:50] #123 closed, assigned to TuomasBorman

[2021-08-11 11:52] antagomir commented on #65
I would like to revisit this discussion.

Simple non-parametric Spearman correlations, or other related measures, would work regardless of the assay and data size considerations, for exploratory purposes, as long as the user has any idea what they are doing. This is common routine operation that then often needs to be complemented with more dedicated anayses with other techniques.

I still suggest

[2021-08-11 16:17] FelixErnst commented on #65
The problem I have with this is the layer of abstraction.

`calculateAssayDependencies` is a very high level name and it is not clear what this function would or should do:
1. dependencies suggest a 1:1 relation. Either something depends or it does not and it depends a bit is actually better said with "associated".
2. Second the association of assays is very well defined. It is a 1:1 relation for

[2021-08-11 16:27] FelixErnst commented on #125
`coda.base` seems to a single function package only, but it is using a Cpp implementation. The one fixed criteria for `runMDS` is that it must use the same inputs as `dist`. If that is the case, I would try to go the route of suggesting the function be added and optimized in these packages.

Maybe implement it yourself and do a benchmark to make sure, where the right place for it is.

The general

[2021-08-11 18:07] antagomir commented on #125
Ok I opened an [issue to coda.base](https://github.com/mcomas/coda.base/issues/2) and to [vegan](https://github.com/vegandevs/vegan/issues/433) to discuss this.

[2021-08-11 18:16] antagomir commented on #65
Yes, I agree with all points, and exploring first more thoroughly the available "function space"..

Association is more generic than CrossCorrelation and may be therefore necessary.

[2021-08-12 07:48] TuomasBorman commented on #77
So function that will be removed is:

- `calculateDistance`

These functions utilize `calculateDistance`:
- `estimateDivergence`
- `calculateUniFrac`
- `calculateJSD`

I am not sure what was meant to do with these 3 functions

[2021-08-12 07:56] antagomir commented on #77
Ok, so it was used for multiple functions. We can either

1) Keep this available but then I would change the name to maintain conceptual clarity

2) Hide the function (unexport), it could still be utilized by those other functions; but then Deprecation message would be necessary since some users may still have workflows with this.

[2021-08-12 17:12] FelixErnst commented on #77
I think `calculateDistance` could be wrapped internally and the deprecation of the exported function done for current devel. It would gone by Bioc 3.15.

The usage in
- estimateDivergence
- calculateUniFrac
- calculateJSD
can be switched to the internal wrapper now and the deletion after deprecation would be straightforward

[2021-08-12 20:07] antagomir commented on #77
Ok to me.

[2021-08-14 11:19] antagomir commented on #125
Given, that adding these features in the above mentioned package may take considerable time (or perhaps not?), it might be useful to have, meanwhile, our own implementation `calculateAitchison` (with "standard" and "robust" options).

This can be implemented easily without extra dependencies, since we already have internal implementations `.calc_clr` and `.calc_rclr` in `mia`. Data (`counts` or `r

[2021-08-14 11:21] antagomir opened #127 "Function naming"
I noticed that we refer to unifrac with UniFrac (e.g. in `calculateUniFrac`).

The original authors and QIIME2 seem to use name "Unifrac" with no uppercase F.

Perhaps a minor detail but I would prefer changing this to the standard spelling.

If @FelixErnst agrees, @shigdel could make a PR on this.

[2021-08-14 11:34] FelixErnst commented on #127
I used the CamelCase because of phyloseq implementation.

You can change it of course. Is it worth having two function names?

[2021-08-14 11:52] antagomir commented on #127
One option is to have an alias and use the standard version in OMA and other sources. But I am not sure if this causes more confusion than helps.

[2021-08-14 11:54] #120 closed, assigned to FelixErnst, TuomasBorman

[2021-08-15 18:36] TuomasBorman commented on #127
Hi @shigdel ! Thanks for your contribution.

It looks like you accidentally made a commit directly to `microbiome/mia` master and not your own forked project `shigdel/mia`.
I reverted the commit, because it did not passed tests. That was because you changed the name of the function, but there are still some files where the function is called with its old name.

In order to pass those tests, you ha

[2021-08-15 21:41] antagomir commented on #127
Thanks both.

@shigdel you can make the PR by forking the repository as Tuomas explained, making your changes, then opening a PR against microbiome/mia master branch. If it is unclear how to do any of this, ask us online.

Another option would be that you clone microbiome/mia directly (if you have this already), create a new *branch*, and make PR from that branch to master. But this requires that

[2021-08-15 22:13] antagomir commented on #125
It seems, however, that this could be added in **vegan** soon, see [vegan issue #433](https://github.com/vegandevs/vegan/issues/433#issuecomment-899084717). So anyone working on this should check that before further action.

[2021-08-16 21:50] antagomir opened #128 "ALR and ILR transformations"
We should consider adding ALR and ILR transformations in mia.

It is possible but [under discussion](https://github.com/vegandevs/vegan/issues/433) that some of the log-ratio transformations may soon be added to **vegan**. Good to wait and see for that outcome before implementing ALR and/or ILR.

The ILR requires a reference sample and will result in a transformed data that has n-1 samples. It has

[2021-08-16 21:52] antagomir commented on #103
Now [**philr**](https://bioconductor.org/packages/devel/bioc/html/philr.html) (1.19.1 in Bioc devel) supports `TreeSE`.

The example shows how to run it. The example is using a subset of the data to speed up the process. The `subsetByLeaf` is available via the latest Bioc devel version of `TreeSE`

Note that the implementation in the **philr** package returns a matrix of balances, with d-1 feature

[2021-08-17 18:21] FelixErnst commented on #103
This means it accepts `TSE` as inputs, but it doesn't return a modified/enhanced object, does it?

Which feature is dropped? Always the first? always the last? A selected reference?

If this is non random, than I would suggest adding an NA row or a row with zeros (depends on the meaning) would be the most straightforward answer.

I think it would be good to discuss any "underlying" issue, e.g. mea

[2021-08-17 18:25] FelixErnst commented on #128
See my answer there. If a reference feature/samples is used a row/column of zeros or NAs would allow storing the data as assays. The `altExp` alternative is less appealing but might a good option nonetheless.

There is however an additional alternative: dropping the reference samples from the `TSE` and just storing the output as an assay.

The options best suited depends IMO largely on how much or

[2021-08-17 21:52] antagomir commented on #103
Yes, `TreeSE` is accepted as input but not provided as output in **philr**; instead **philr** only provides the feature matrix and this is against the design principles of object manipulation in **mia**.

We cannot really say that a specific feature would be dropped in phILR transformation. In fact the returned features (balances) correspond to the tree nodes i.e. there are as many features as the

[2021-08-25 13:54] TuomasBorman opened #132 "Import functions need to be fixed because of SE bugfix"
Hi,

bugfix of `SummarizedExperiment` https://github.com/Bioconductor/SummarizedExperiment/commit/1e1da5b79a035a0f597dedcba42d2cec7a2406c3

Before, `SE` constructor just replaced assay's colnames with coldatas rownames, assay's rownames with rowdata's rownames. But it did not order the data accordingly. Now, **`SE` constructor requires that sample and feature names are in same order as they are in

[2021-08-25 14:29] antagomir commented on #132
So in fact we cannot avoid doing some kind of ordering like this, to use the updated `SE`?

I would implement it as a function argument that indicates how to do to sorting: based on row/colData, or based on assay order, or even custom order could be allowed (user would input a vector of names). The user can then choose. Good default should be chosen.

[2021-08-25 17:38] FelixErnst commented on #132
See **https://master.bioconductor.org/checkResults/3.14/bioc-LATEST/mia/nebbiolo2-checksrc.html**

@yiluheihei Can you fix this?

[2021-08-26 13:53] yiluheihei commented on #132
@FelixErnst 👌 I will fix it whenever I have time.

[2021-08-26 16:20] FelixErnst commented on #132
This is a bit time sensitive. Should some else prepare a fix?

[2021-08-28 02:08] yiluheihei commented on #132
Thanks @hpages  for the commit [fb55ce1](https://github.com/microbiome/mia/commit/fb55ce187cc8651ec5ab06bbaa3bafb42e4d8dcb).

[2021-08-28 10:02] antagomir commented on #132
Discussion still ongoing in #133

[2021-08-28 16:36] TuomasBorman commented on #132
I think we should discuss about these import functions also. There could be that inputs have order mismatch between samples / taxa

I think these are working:

`makeTreeSummarizedExperimentFromPhyloseq` (phyloseq orders names)
`makeSummarizedExperimentFromBiom` (object shares colnames and rownames)
`makeTreeSummarizedExperimentFromDADA2` (doesn't include `rowData` or `colData`)

But I'm not sure a

[2021-08-28 17:09] antagomir commented on #132
Should be checked.

[2021-08-30 16:24] #132 closed, assigned to TuomasBorman

[2021-09-15 12:16] TuomasBorman opened #136 "agglomerateByRank: agglomerated z-transformed assay lead to meaningless values"
Hi,

I found a feature from `agglomerateByRank` that might be misleading.

`agglomerateByRank` sums values. It does it for every assay. For example, `counts` or `relabundance` do not cause any problems.

However, some other transformations like `Z-transform` lead to meaningless values when it is agglomerated. If user does not check this or if user is not aware of this, this can lead to errors. (In

[2021-09-16 20:00] antagomir opened #137 "Document datasets"
The current data sets could be documented a bit more extensively, at least including references and brief content descriptions.

Also consider updating the class from TreeSE to SE because these do not have a tree.

[2021-09-16 20:17] antagomir commented on #136
Agreed. Only "counts" by default. Rest has to be explicitly specified by the user (either by adding to abund_values list, or by operating the new agglomerated object), including relabundance for the agglomerated data. This can help to avoid mistakes and confusion.

[2021-09-18 06:38] FelixErnst commented on #136
I don't think this is worth doing. You will never catch all mistakes a user can make with this function. I wouldn't try to do it because it will make a complex function even more complex. In addition, the assay name doesn't mean anything and since we don'Tt force assay names for certain types of data, the user must make sure to analyze the data correctly.

However, is there a test which can tell,

[2021-09-18 06:39] FelixErnst commented on #136
Also the rule is always to agglomerate before transformation. I mean this is common sense, isn't it?

[2021-09-18 09:21] antagomir commented on #136
Perhaps indeed a test and warning for suspicious cases would be a better way of doing this.

I have learned to be careful in trusting common sense, it is good if can help to avoid common accidental mistakes but yes this has to be balanced with other design considerations.

[2021-09-18 17:07] antagomir opened #139 "Replace S4vectors:::make_zero_col_DataFrame internal call"
This causes a note in `devtools::check()` and could be easily rewritten with exported material.

N  checking dependencies in R code (6.1s)
   Unexported object imported by a ':::' call: ‘S4Vectors:::make_zero_col_DataFrame’
     See the note in ?`:::` about the use of this operator.

[2021-09-18 17:09] antagomir opened #140 "Remove test-5calculateDistance.R"
This causes note/warning in `devtools::check()`, could be removed as the function is already deprecated (will be removed by Bioc 3.15): tests/testthat/test-5calculateDistance.R

[2021-09-18 19:02] FelixErnst commented on #139
You can ignore this. This is something like a `Are you really sure?` kind of thing. We are, now way to avoid it and thats fine for everyone.

[2021-09-18 19:32] antagomir commented on #139
Fine. Just love the screen empty of NOTEs :-)

[2021-09-18 19:32] #139 closed, assigned to antagomir

[2021-09-19 16:14] TuomasBorman commented on #136
That might be better way to approach this

[2021-09-22 11:43] TuomasBorman opened #144 "makePseqFromTreeSE error when taxonomy table includes factors"
In `phyloseq`, taxonomy table needs to be as` characters`. In `TreeSE`, it can also be as `factors`

--> error when using makePhyloseqFromTreeSummarizedExperiment

**Solution: factors need to be converted into characters**

[code]

-Tuomas

[2021-09-23 22:24] antagomir commented on #144
I think this should be fine.

[2021-09-24 13:37] microsud opened #146 "Is there a phyloseq::rarefy_even_depth alternative in SE/SCE/TSE world?"
I wanted to rarefy my samples in tse to an equal number of reads/sample. But cannot find a function to do this for SE/SCE/TSE. Do you know of any options?

Currently I have to use this.
[code]

[2021-09-24 18:48] microsud commented on #146
Sorry #112 also asks similar q? I seemed to have not noticed it😅

[2021-09-24 18:48] #146 closed, assigned to nobody

[2021-09-24 21:43] antagomir commented on #112
I am not aware of a ready-made implementation. Should be rather straightforward to implement and phyloseq version could provide some insipration.

[2021-09-25 09:52] microsud commented on #112
Thanks! Yes I am testing this now using `phyloseq::rarefy_even_depth`. Two things I notice:
1. Returning subsampled assay to `TSE`?
    If from N samples in `TSE`, 1 sample is removed because it has reads less than user specified **min samples size**, then the output assay has N-1 samples i.e. colnames. Adding this to the `TSE` as new "subsampled" assay returns the TSE with N-1 samples as all assa

[2021-09-25 10:36] antagomir commented on #112
This is a broad issue that also touches, for instace, transformations such as `ilr` (not yet implemented) that would return N-1 samples.

Not clear to me from the description how `getSubsample()` would be used in this case? We might also like to have a mechanism similar to `altExp` (that allows different features but same samples) that would allow different samples but same features. This could be

[2021-09-27 19:00] antagomir commented on #112
This is also related to issue #128 which is about log-ratio transformations that drop one sample; and to #103 that drops one feature. Sooner or later we would need to converge to some solution at least. The integration of philr to **mia** is pending for this decision, for instance.

[2021-09-27 20:33] microsud commented on #112
I think it is more convenient to return modified TreeSE in these cases and let user take care of this. User can for instance place the modified TreeSE within MAE for downstream analyses.

[2021-09-28 06:11] antagomir commented on #112
So this would mean that the original assays would be left out from the returned object?

If this is implemented so also SE can be returned if appropriate (same as input).

[2021-09-28 06:40] microsud commented on #112
Yes something like this...
[code]
Output
[code]
The user then for e.g. calculate diversity like this.
[code]
Gives the user the freedom to use specific `TreeSE` for specific analysis.

[2021-09-28 07:06] antagomir commented on #112
One thing to note is that often the low read count samples are permanently discarded in the subsequent analyses. The `MAE` strategy here is possible but I am wondering if it complicates the procedure unnecessarily lot in many cases. The example workflows will have impact on user's choices. A simpler option would be to just discard some samples in the beginning, as a filtering step, then proceed wi

[2021-09-28 09:26] microsud commented on #112
It is not about just removing samples. Along with samples, there is also removal of taxa after subsampling. These are not the same operations as removing samples with a low number of reads. In which case, only taxa unique to samples that are removed are discarded.

[2021-10-01 04:40] #144 closed, assigned to TuomasBorman

[2021-10-01 04:48] FelixErnst commented on #112
Are we sure about this. Rarification is looked upon not quite favourably. Have a look at earlier issues with comments from Amy Willis.

The option with the MAE is good option because it makes only sense to people with more advanced knowledge on Bioc

[2021-10-01 11:09] antagomir commented on #112
There is vast discussion about whether or not to rarify. Whereas I advocate searching for alternatives, these also need to be benchmarked against rarified alternatives; and some users may also like to do these comparisons routinely, or, in response to reviewer requests.. Also phyloseq package has decided to include rarification, with additional note that they do not recommend to use it in the anal

[2021-10-01 15:11] FelixErnst commented on #112
OK. Go for it, but output a warning by default.

[2021-10-01 15:17] FelixErnst commented on #127
Any news on this?

[2021-10-01 15:18] FelixErnst commented on #77
Can this be closed?

[2021-10-01 15:19] FelixErnst commented on #65
Can this be closed? Whats the current summarized view on this?

[2021-10-01 15:20] FelixErnst commented on #60
Any news on this? @microsud

[2021-10-01 15:22] #136 closed, assigned to TuomasBorman

[2021-10-01 15:22] TuomasBorman commented on #77
I think all is done for now, removing the function is the next step

So yes, this can be closed

[2021-10-01 15:25] TuomasBorman commented on #65
I tried to find methods for cross-correlation that have `MultiAssayExperiment` as dependency, but couldn't find one. I think this would be nice to have

[2021-10-01 15:27] FelixErnst commented on #65
So a PR is/might be incoming? Can you link it with this issue, when the time comes?

[2021-10-01 15:28] TuomasBorman commented on #65
Yes, I can make that, I will link it with this issue

[2021-10-01 15:41] #77 closed, assigned to TuomasBorman

[2021-10-01 15:50] microsud commented on #60
This one fell off the radar. Sorry. I can or @TuomasBorman (if he has time and energy) try to implement the `microbiome` R pkg code in `mia`

[2021-10-01 15:58] TuomasBorman commented on #60
@microsud Yep, I can do that when time allows

[2021-10-01 15:59] antagomir commented on #60
The microbiome pkg version can be moved easily but if the Gao paper has clear benefits it would be good to considered this at the same go when one of us can go through this.

[2021-10-01 17:10] FelixErnst commented on #60
If it is MIT make the origin of the code clear, but check for license compatibility first. There must be how-to or something somewhere. IT is a good exercise for either of you.

[2021-10-13 09:05] nr0cinu opened #154 "mergeCols breaks meltAssay"
Hi,

after using mergeCols, the meltAssay function fails:

[code]

Thanks!

[2021-10-13 09:12] nr0cinu commented on #154
Seems the assay `counts` contains another STE object instead of an assay object

[code]

[2021-10-14 14:08] nr0cinu opened #155 "taxonomic information is missing in meltAssay after using agglomerateByRank"
Hi :)

After agglomerateByRank is used, meltAssay doesn't properly work anymore on the resulting object (only NAs are giving back on the taxonomic columns). Presumably, its because the row names are mismatching (there is a colon in rowData, but a period in the output of meltAssay).

Example below.

Thanks,
Bela

[code]

[2021-10-14 14:41] TuomasBorman commented on #154
Hi!

Thanks again!

It seems that the functionality of function that `mergeCols` is using was changed. `mergeCols` is calling `scuttle::sumCountsAcrossCells`. Instead of matrices (assays) it was returning `SE` objects. Now matrices are extracted from those `SE` objects.

-Tuomas

[2021-10-14 15:30] TuomasBorman commented on #155
Hi and thanks!

The issue was `SE` can contain duplicated rownames. In one internal step, `assay` is converted into `data.frame` which cannot contain duplicated rownames

--> **modified rownames do not match with original ones anymore.**

Now, duplicated rownames are modified in the first step to ensure that rownames match.

-Tuomas

[2021-10-16 10:11] #155 closed, assigned to TuomasBorman

[2021-10-16 15:33] #154 closed, assigned to TuomasBorman

[2021-10-17 16:20] microsud opened #158 "NAs break `getTopTaxa`"
During testing bumped on this bug. It seems that after transformation some NA is introduced? Which then silently kills the `getTopTaxa`
[code]
We have this at the moment in `getTopTaxa`
line 104-107
[code]
Should we include `na.rm = TRUE` to these funs?

[2021-10-17 16:24] antagomir commented on #158
Adding `na.rm` as an option (default `TRUE`?) would be good imo.

But why there are NAs in relabundances but not in counts? Doesnẗ that indicate other problems?

[2021-10-17 16:49] microsud commented on #158
Yes just checked and there are some samples with zero counts in `artificialgut`

[code]

This is why there is an issue.
However, we still need to have `na.rm` possibly to avoid such issues ?

EDIT: Also is it okay to modify the `artificialgut` data? This is the original data from publication and I think we need to keep it as it? But we can use this as a case for some sections in `OMA` to show how

[2021-10-17 17:14] antagomir commented on #158
Right - 5 samples with 0 counts and 2 with 1 count.. (!?) and then a few with very low counts.

I do not think it is OK to modify the original data. Although: it could be justified to remove samples with low read counts. But I think it is more transparent to keep them in this data set and do that as a preprocessing step after data retrieval, when necessary. Potentially useful for some OMA examples

[2021-10-17 18:01] FelixErnst commented on #158
I would say this is a transformation of data and not right way to go. `x/0` is `NA` in R and it will always be that. Wrapping the user in bubblewrap doesn't help in the end.

[2021-10-17 18:11] antagomir commented on #158
Yes, in a sense.

But if there abundance is 0 in counts, it would be in a sense correct to say that also relative abundance is 0.

But it is also incorrect in certain ways for the reason of x/0 being NA.

I am ok with the latter solution as well, it can be more informative and failure can be justified in those cases. The main issue is that this may escape attention as had happened in the reported

[2021-10-17 18:55] microsud commented on #158
I can add an argument for na.rm with default TRUE to this function. Will create a new PR.

[2021-10-17 19:02] antagomir commented on #158
Yep. But `na.rm=TRUE` will not help with `x/0` I guess.

[2021-10-17 19:07] microsud commented on #158
For `getTopTaxa` it should be okay and user can check by changing default. We can keep `transformCounts` as is now and see later if there is urgent/valid reason to address this.

[2021-10-23 12:14] FelixErnst commented on #158
Nope. that is information not available, therefore NA.

The question you ask with that function is `What is the relative abundance?` If you would ask `Is there abundance?` or `What is the abundance`, you could return a non-NA value, but with the key word "relative", IMO, the only answer can be NA.

@microsud Thanks for the PR

[2021-10-23 16:56] antagomir commented on #158
I certainly agree that in one sense the answer is NA and that's ok.

[2021-10-27 08:55] TuomasBorman commented on #140
Commit 50f6a0ef5ec4f2f8f7e7a347ee61b91bf2cf0045 removed this test.

[2021-10-27 08:55] #140 closed, assigned to antagomir

[2021-10-27 17:42] #65 closed, assigned to TuomasBorman

[2021-11-03 18:47] FelixErnst opened #162 "ape dependency causing intermitant test errors"
https://master.bioconductor.org/checkResults/3.14/bioc-LATEST/mia/nebbiolo2-checksrc.html

[2021-11-04 09:33] TuomasBorman commented on #162
Hi,

I have been trying to solve this.

The email was forwarded to me, and I agree that `ape::all.equal.phylo` cause this. I have been trying to find, what are the situations where this happens.

1. I have been running the tests ( `devtools::test()` ), and I have been able to reproduce the error locally. It does not happen all the time, but maybe every second time.

2. I have been running `ape::al

[2021-11-04 12:13] FelixErnst commented on #162
Can you remove the test or maybe rework it? I have the suspision that testthat is messing with some environments and is confounding the issue.

[2021-11-04 12:22] nr0cinu opened #163 "getUniqueTaxa: return sorted?"
Hi :)

Wouldn't it be convenient to sort the return value of getUniqueTaxa()? I see no advantage of keeping it unsorted? sort() would also remove the NA that can happen, which would be good too maybe?

https://github.com/microbiome/mia/blob/4a09bbed14c283dbcccf09ea21893c1c8f933f22/R/summaries.R#L135

Thanks!
Bela

[2021-11-04 12:57] TuomasBorman commented on #162
I can remove tests
`expect_equal( phyloseq::phy_tree(phy), rowTree(tse) )`
or I can modify them to be
`expect_identical( phyloseq::phy_tree(phy), rowTree(tse) )` which did not have the same issue, at least when I ran test locally

This identical is doing the same thing but it is little it stricter

Should I just push these changes directly to master?

[2021-11-04 20:45] TuomasBorman commented on #163
Hi,

thanks for your suggestion! I agree that sorting might be nice to have. Also, NA is not very informative, and it cannot be used to subset.

We could add there `sort = TRUE` parameter, so user can choose if return value will be sorted. In addition to that, we could add there a line that removes all the NAs.

There are also other functions (e.g. `getTopTaxa`) that have this same issue. What do

[2021-11-04 21:28] antagomir commented on #163
Fine with me.

Sorting could happen in different ways, though: abundance, alphabetic, rank.. should the input argument consider these different optons?

[2021-11-05 07:12] TuomasBorman commented on #163
I was thinking just alphabetical order. Those others are possible, but they would need more work. For example, getUniqueTaxa is just a wrapper for `unique( rowData(tse)[[rank]] )`

I'm not sure if that goes too complicated

[2021-11-05 07:19] TuomasBorman commented on #162
Reopened the issue because it is unsure if the fix works

[2021-11-05 07:22] FelixErnst commented on #162
Its pushed to Bioc. Let's see

[2021-11-05 07:33] microsud commented on #163
Thanks! I agree. I would avoid sorting on abundance/prevalence as not required for this function. There is getTopTaxa

[2021-11-05 07:44] FelixErnst commented on #163
IMO unneccessary.

`sort(getUniqueTaxa())` works fine, doesn't it? And it is less writing, than adding `sort = TRUE`

[2021-11-05 07:48] FelixErnst commented on #163
But since Tuomas hid the option in the dots, it is fine for me. Removing the `NA` by default is I think not a good idea, since a selected rank migh derive meaning from a `NA` value e.g. "The one bacteria which we cannot assign information on that rank is unique"

[2021-11-05 08:00] TuomasBorman commented on #163
That's true, I added there na.rm to select whether to remove missing values or not

[2021-11-05 08:17] nr0cinu commented on #163
Awesome! :) Maybe sort could be TRUE by default?

[2021-11-05 10:09] TuomasBorman commented on #163
Hmmm, that would make things easier, if user wants to get taxa in alphabetical order.

However, it is usually better to not do too much stuff that user is not expecting to happen. Especially, when this is some kind of extra functionality

Because of that, I suggest that `sort = FALSE` by default

[2021-11-05 10:12] antagomir commented on #163
Right - yes I agree for alphabetic sorting being enough for `getUniqueTaxa` but for `getTopTaxa` we might need other sortings because alphabetic may be misleading. However this is not necessarily too critical for now, if it would be lot of additional work

[2021-11-05 10:19] TuomasBorman commented on #163
`getTopTaxa` returns currently taxa in "top score" order. I think alphabetical order is also nice option for this, if user wants for example top 50 taxa

[2021-11-05 10:19] nr0cinu commented on #163
I personally expected getUniqueTaxa to return alphabetic sorting. Other things in R, like level from as.factor or ggplot2 also always default to alphabetic sorting after all, independent of the order or the underlying data.

getTopTaxa should stay ordered by abundance as it is now imho.

Obviously all options are fine in the end, if we have the parameter to change the behavior. Thanks! :)

[2021-11-05 10:28] antagomir commented on #163
agreed with all

[2021-11-05 12:41] #60 closed, assigned to microsud

[2021-11-07 09:29] TuomasBorman opened #166 "calculateUniFrac bugfix"
Hi,

`calculateUniFrac` has currently two input options

- `signature = c(x = "ANY", tree = "phylo")`
- `signature = c(x = "TreeSummarizedExperiment", tree = "missing")`

This `ANY + phylo` causes problems.

[code]

Because this `ANY + phylo` calls `.calculate_distance`, I think that `x` should be an `assay matrix`.

1. **--> should the signature be changed to `signature = c(x = "matrix", tree = "

[2021-11-07 13:05] antagomir commented on #166
Supporting just TreeSE, and dropping support for the any+phylo option might help to encourage the use of that standardized TreeSE container. I am not sure what is gained by supporting any+phylo.

If the any+phylo is kept anyway, then it would be indeed good to specify it as a matrix and/or phyloseq object. Or if there are further formats supported by Unifrac functions, then one could just refer to

[2021-11-07 15:25] TuomasBorman commented on #166
Maybe it is best to change `signature = c(x = "ANY", tree = "phylo")` --> `signature = c(x = "matrix", tree = "phylo")`

That is because the function seems to be used in other functions like this:

[code]

[2021-11-07 22:26] antagomir commented on #166
Sounds fine to me.

[2021-11-08 16:20] FelixErnst commented on #166
The ANY dispatch is the catch all, since by design the input must be matrix-like, nothing else. It is also designed that way to be compatible to other `calculate*` functions, e.g. `calculateMDS` and some other functions from `scater`

What is wrong IMO:
1. The error message is not verbose enough for people not reading the man page

Thats it. Nothing more to it. So how do you want proceed? Reinvent

[2021-11-08 16:33] TuomasBorman commented on #166
¨So, I think that we could add input check to runUniFrac:

[code]
Everything that can be converted into matrix (==matrix-like) is ok

[2021-11-08 16:58] FelixErnst commented on #166
This will remove the support for `DelayedMatrix` and similar objects, which is acutally the reason for the `ANY` dispatch in `calculate*` functions

[2021-11-08 18:33] antagomir commented on #166
Fair points and I agree with this entirely. Thanks for clarification.

[2021-11-11 08:19] TuomasBorman commented on #162
Now Linux and Windows are OK, but MacOS has problem

When running tests and calling

`40: getPrevalentTaxa(GlobalPatterns, detection = 0.004, prevalence = 0.1,     as_relative = TRUE, rank = "Family")`
-->
`36: do.call(agglomerateByRank, args)`

there is `*** recursive gc invocation` which leads to  `*** caught segfault ***`

[2021-11-12 14:56] asierFernandezP opened #168 "Error when trying to agglomerate by taxonomic level (altExp function)"
Hi,

When trying to agglomerate the Summarized Experiment data by taxonomic level (e.g. Phylum) as explained in the tutorial, I get the error below:

My code:

[code]

The error I get:

[code]

----

The SE is correctly built as I can work with other functions in the package without any problems. I can also agglomerate by taxonomic level using the rank argument to perform the agglomeration on the

[2021-11-12 14:58] TuomasBorman opened #169 "Improve loadFromQIIME2"
Hi,

user might have sometimes files in different formats. For example, `loadFromQIIME2` supports only qza format (sample meta in tsv).

In this case, if user has everything but assay in qza format, he/she cannot import files with our methods, because `.read_qza` is just an internal function. (assay is always needed in importing)

I think we have two options:
1. We can export `.read_qza` (`readQZA

[2021-11-12 15:13] asierFernandezP opened #170 "Metaphlan3 results loading"
Hi,

I have built a Summarized Experiment from Metaphlan3 results. However, I have not seen any previous example of this so I would like to know if the approach used is correct or would you recommend a different strategy to load this metagenomic results and work with them with Mia package:

[code]

Thank you,

Asier

[2021-11-13 10:39] antagomir commented on #169
I think we could start with option 1. Point 2 and more could be developed later, if it would seem to make life easier.

[2021-11-13 12:00] TuomasBorman commented on #168
Hi Asier!

Thanks for this issue. We are trying to make these tutorials as simple as possible, and that part is actually misleading.

`SummarizedExperiment` objects do not include `altExp` slot. However, `TreeSummarizedExperiment` objects have. You can easily convert `SE` into `TreeSE`.

That object in tutorials is actually `TreeSE` even though object's name is `se`. I think we should change that

[2021-11-13 13:28] TuomasBorman commented on #170
Hi,

Thanks.

This is my first time seeing this format. Every step can be easily justified, so I think it looks good.

Do you @antagomir @FelixErnst know more about this? Is there a room for us to create an import function for this?

https://github.com/biobakery/biobakery/wiki/metaphlan3
https://raw.githubusercontent.com/biobakery/biobakery/master/demos/biobakery_demos/data/metaphlan3/output/merge

[2021-11-13 14:28] FelixErnst commented on #170
You can give it a go. However, the tricky bit is the input sanity checks. You have to make sure, the format is recognized and sanitized correctly (version, variants, etc) so that the actual importer can be as streamlined as in the example.

[2021-11-13 14:36] antagomir commented on #170
Metaphlan3 outputs are quite common, support would be well justified, if the importer can be sufficiently standardized. This can also support users who have less experience with these formats and who may have a higher threshold of getting started.

The **mia** package has its own functions for relative abundance calculation; I would suggest creating `SE` from the actual count data and then use sta

[2021-11-13 14:41] #169 closed, assigned to TuomasBorman

[2021-11-13 14:42] antagomir commented on #168
Yes, notation should be harmonized. `se` for `SE` and `tse` for `TreeSE`

[2021-11-14 09:51] FelixErnst commented on #162
I don't see that anymore. I am closing this, but lets keep an eye on it.

[2021-11-14 09:51] #162 closed, assigned to TuomasBorman

[2021-11-14 10:23] #163 closed, assigned to nobody

[2021-11-14 10:24] TuomasBorman commented on #163
Ok, now sorting is also implemented. Another bigger reason for `sort = FALSE` by default is that we have wrapped this in internal function, because now this option can be hidden. This internal function is called from both `getUniqueTaxa` and `getTopTaxa`.

Because there can be only one default value in this kind of implementation, it had to be `FALSE`, so that taxa are not sorted in alphabetical o

[2021-11-14 16:19] #166 closed, assigned to TuomasBorman

[2021-11-15 07:47] nr0cinu commented on #163
Awesome! And happy to help!

[2021-11-16 12:32] nr0cinu opened #173 "function to remove empty rows/cols?"
Hi!

during subsetting it can happen that the row/colSums of some cols/rows end up being zero. For example, if some samples are removed, it could happen that ASVs only in those samples are now zero in subsetted dataset. Presumably, TreeSummarizedExperiment subsetting on purpose doesn't trim these zeros out, however with amplicons I don't think it ever makes sense to keep those?

So maybe a helper

[2021-11-16 14:20] antagomir commented on #173
Perhaps we could have trim option as an argument in the subsetting functions? Default FALSE.

[2021-11-16 14:55] nr0cinu opened #174 "agglomerateByRank(agglomerateTree = TRUE) fails with highest rank"
Hi,

using `rank="Kingdom"` or `rank="Domain"` breaks `agglomerateByRank()` when using `agglomerateTree = TRUE`:

[code]

Best,
Bela

[2021-11-17 09:59] nr0cinu opened #175 "mergeCols could/should return a sparseMatrix (if input is a sparseMatrix)"
Hi,

presumably, `sparseMatrix` is the preferred format for storing sparse count data (or it wouldn't exit?), so maybe mia functions like `mergeCols` should return these over base matrices? Always or only if the input is a `sparseMatrix`?

Best,
Bela

[2021-11-17 10:11] antagomir commented on #175
I like the idea but then started to think if it is problematic to return a different output vs. input.

Another solution would be to provide conversion option as a function argument.

[2021-11-17 10:19] nr0cinu commented on #175
keeping input and output type the same is a good compromise too I think.

* matrix in, matrix out
* sparseMatrix in, sparseMatrix out

[2021-11-17 15:53] TuomasBorman commented on #174
Hi,

thanks!

It seems that there is a small error when that new tree is built.

Information for building that tree is fetched from `rowData(x)`. When there is only one taxonomic level left (Kingdom), the data is subsetted so that it includes only one column

--> it is a vector, and now it does not include name of taxonomic level. --> tree tips are named incorrectly --> they do not match with `row

[2021-11-17 19:01] #174 closed, assigned to TuomasBorman

[2021-11-18 07:43] #168 closed, assigned to nobody

[2021-11-18 08:36] asierFernandezP commented on #170
Thank you for your answers. Yes, the problem is that Metaphlan does not give you real "absolute counts", so we always work with relative counts. What I did here was to remove the unclassified portion in the result table from Metaphlan and recalculate the relative abundances again with ```relabundance```.

[2021-11-18 08:55] antagomir commented on #170
Right, no absolute counts in a sense; but non-relative count data (not sure how that should be called actually).

In the above code the relative abundances are calculated with
`counts_table_rel_ab <- decostand(counts_table, MARGIN = 2, method = "total")`
and not with `SE` tools, like `mia::transformSamples` - and did not see `relabundance` there, just pointed out in case.

[2021-11-18 09:13] asierFernandezP commented on #170
Yes, you are right! Thank you for pointing it out! I guess in this case the results would be similar (just making each sample to have a total relative abundance of 1), but maybe it is easier to work with ```SE``` tools.

[2021-11-18 09:32] antagomir commented on #170
yes.

[2021-11-18 13:17] TuomasBorman commented on #173
The problem is that `subsetSamples` and `subsetFeatures` will be removed, because `[]` is preferred

We could probably add it on top of the `[]` function, but I'm not sure if that is wise

[2021-11-18 16:32] antagomir commented on #173
Right.. I think `[]` and general solution is preferred indeed.. perhaps some examples could also include and show how to solve this kind of situations, if nothing else-

[2021-11-18 18:24] TuomasBorman commented on #173
I think that we do not have suitable function for adding this functionality, and creating own function just for this is more or less like shooting flies with shotgun

This might be useful, so we could add example here https://microbiome.github.io/OMA/datamanipulation.html#subsetting

[2021-11-22 12:55] nr0cinu opened #179 "Ribosomal RNA operon copy number correction / rrnDB support"
Hi,

maybe it would be interesting/useful to add support for things like the [rrnDB](https://rrndb.umms.med.umich.edu/). This is often combined with using absolute abundance measures (see #4) to get estimated genome copy numbers instead of rRNA operon copy numbers, which is a better proxy for cell numbers than just the operon copies.

Possible helpers could be:
1) a function to (download and) matc

[2021-11-22 18:52] antagomir commented on #179
Thanks! The procedure should be probably tested before deploying it into wider use. Hence, a Rmarkdown vignette (for instance in this or in OMA) might be a good start for the discussion on how to convert it into a R pkg tool. Contributions also very welcome.

[2021-11-27 09:14] FelixErnst commented on #175
Thats how it should be. Only change data types if necessary.

That way less code, less bugs, more expected result, ...

[2021-11-27 09:14] #175 closed, assigned to nobody

[2021-11-27 09:34] FelixErnst commented on #173
I agree.

Something like this should do the trick as well:
[code]

I don't think this one-liner is worth the implementation of a function.

[2021-11-27 09:34] #173 closed, assigned to nobody

[2021-11-27 09:36] FelixErnst commented on #170
Can I close the issue?

[2021-11-27 09:39] #170 closed, assigned to nobody

[2021-11-27 09:50] FelixErnst commented on #179
I think this has to implemented elsewhere, since `mia` can provided the tools for applying a correction, but interlinking with datasources is out of scope IMO.

Maybe and adjacent package would best.

[2021-12-13 12:56] antagomir commented on #127
This is ready to be merged I think?

[2021-12-13 13:20] TuomasBorman commented on #127
Yes, I think it's ready

[2021-12-18 13:05] antagomir opened #185 "taxonomyRanks update?"
**Problem**
The `taxonomyRanks` function does not consider "OTU" or "ASV" field as a taxonomic rank. This may be justified but it leads to a problem with `splitByRanks`. This function splits the abundance tables by the ranks listed by `taxonomyRanks`, and as a result the outcome from `splitByRanks` does not contain OTU/ASV table. In many cases the data analyst would like to have that as well. It i

[2021-12-20 06:38] ChouaibB opened #186 "rowData Clustering"
Hi,

Adding a function for clustering rowData (of a TreeSe object, e.g. taxonomic, metabolomic.. data) could be useful in analysis. For instance, performing hierarchical clustering on rowData based on correlation, then summarizing clusters by their mean abundance or sum. This could simplify analysis as it reduces the multiple statistical testing in many occasions. The following are examples of co-

[2021-12-20 19:10] antagomir commented on #186
I think this would be a useful addition to the exploration toolkit but prioritization w.r.t other issues can be discussed. This can be done also without wrappers, the main purpose of a wrapper would be to make it faster and more standardized to run such analyses. Experienced users can then build their own custom workflows always, if needed.

[2021-12-21 09:27] ChouaibB commented on #186
Hi,
I wanted to discuss and ask your opinions about implementation.
I tried to think how the clustering data/information could be used by the end-user.
For instance:
* rowClust: would just perform the clustering, then create a new column at colData with cluster ids. This way the user could still use original data (not aggregated) to perhaps e.g. perform PCA with original data and color with cluste

[2021-12-21 19:53] antagomir commented on #186
It would be great if you can give it a try.

We would need:

1. Function that determines CAGs; this could be named `rowClust` because this is descriptive. Perhaps an alias for `CAG` could be helpful as it connects with the better known concept and some users might prefer that. We could provide the options that are available through *hclust* or *fastcluster* (faster one, hence preferable?) and prov

[2021-12-22 06:53] ChouaibB commented on #186
Thank you, I will give it a try.

[2021-12-22 06:58] microsud commented on #186
I recently applied this concept for decontaminating low biomass nasopharyngeal samples. Below are the codes. Might be helpful for a more general implementation.
https://github.com/RIVM-IIV-Microbiome/ILI-Respiratory-Microbiota-2021/blob/9261c8d1e607e85293aa66a25be319ba7ec6de07/02_DecontaminateMicrobiotaData.Rmd#L1012

[2021-12-22 22:40] antagomir opened #189 "Importer for Biobakery outputs: MetAPhlAn3"
Data importer for MetaPhlan outputs, to (Tree)SE format, is missing and could be implemented to *mia*.

Here is [metaphlan to phyloseq import function](https://gist.github.com/lwaldron/512d1925a8102e921f05c5b25de7ec94) from @lwaldron

Some more examples [here](https://www.biostars.org/p/449688/) and [here](https://www.nicholas-ollberding.com/post/taxonomic-and-functional-profiling-using-biobakery-

[2021-12-22 22:50] antagomir opened #190 "Importer for Biobakery outputs: HUMAnN 3"
[HUMAnN 3](https://huttenhower.sph.harvard.edu/humann/) provides functional predictions for metagenome profiles. An importer to `MAE` or `altExp` in *mia* would be useful as this is a common format.

Later in [this page](https://www.nicholas-ollberding.com/post/taxonomic-and-functional-profiling-using-biobakery-workflows/) there is one import code example.

Some example data is on the way, for a c

[2021-12-23 07:01] microsud commented on #190
I have been thinking about this also. The HuMAnN3 output has one key and important aspect which is often underestimated.
Example data:
![image](https://user-images.githubusercontent.com/16476233/147198839-1b5dbace-940b-457a-937d-c2a7692c88a4.png)

There is function-species linkage information that can be viewed in two ways:
![image](https://user-images.githubusercontent.com/16476233/147200356-4e18

[2021-12-23 08:33] antagomir commented on #190
It is important, and we must learn while we go. I have not seen comprehensive R-based solutions to bring these levels together, and SE/MAE is a promising framework albeit not necessarily the final one. The `MAE` container does not require that features are matched. Additional information linking the features (rows), i.e. genes, pathways, taxa between `MAE` experiments is needed in many analyses an

[2021-12-23 13:17] TuomasBorman commented on #189
So this is different than https://github.com/microbiome/mia/pull/178?

[2021-12-23 13:23] antagomir commented on #189
No I think it's the same :DDD

[2021-12-23 13:23] #189 closed, assigned to TuomasBorman

[2021-12-23 13:25] TuomasBorman commented on #189
Easiest issue ever :D

[2021-12-27 21:32] antagomir opened #191 "Split SE by colData group"
There is a need to split SE objects by sample groups, typically defined by a colData field (subjectID, for instance).

Searches do not return anything readily available. We could implement the following in *mia* or make a PR in `SummarizedExperiment`. The latter may take a longer time?

[code]

[2021-12-27 21:39] antagomir opened #192 "getExperimentCrossCorrelation for sample pairs?"
The current implementation of `getExperimentCrossCorrelation` calculates `n x m` correlation matrix between two input experiments.

There are many use cases, where we need to calculate correlation between sample pairs, when the columns of the two input experiments are paired. In that case, the calculation would return a correlation vector of length `n` instead, assuming that both experiments have

[2021-12-29 20:59] TuomasBorman commented on #185
I think we could add OTU and ASV to `taxonomyRanks` because in this context they are some kind of

[2021-12-29 21:06] TuomasBorman commented on #191
This works little bit similarly to `splitByRanks`. (`altExp` cannot be used in this case, but maybe `MultiAssayExperiment`?) We could add this to `mia`, at least first. --> `splitByGroups?`

[2021-12-29 21:19] antagomir commented on #191
`MAE` is not optimal either because to some extent it assumes that there can be matching between samples, even if it is not one-to-one. If there is a good data structure available that supports this then that would be optimal. If we do not identify such structure, then a simple list of `SE` objects might be the easiest solution. We can give a try to `MAE`, and if it seems to work well in practice,

[2021-12-29 22:57] TuomasBorman commented on #192
Hmmm, yes I think the implementation should be relatively easy. However, I think we should avoid adding too much stuff to one function, because it makes it too complicated to use. Because this is as special case, we could add new function for this, but we can think about that

[2021-12-29 23:16] antagomir commented on #192
Implementation and maintenance will be easier if it is a separate function. Then we can cross-reference these two functions in the @seealso field.

Another important thing: calculating correlation is not sufficient, we will need to have support for general dis/similarity measures.

Perhaps a new function with a name `getExperimentPairedCorrelation` and/or `getExperimentPairedDissimilarity`.

(@Yag

[2021-12-30 19:52] antagomir opened #194 "agglomerateByPrevalence: Unknown category"
The function `agglomerateByPrevalence` (and `agglomerateByRank`) work fine but there is one shortcoming. When the agglomeration is done to the higher level ranks (e.g. from ASV to Genus), then the features (rows) with missing rank information (e.g. NA genus in our example) are ignored. As a result, the agglomerated relative abundance matrix does not sum up to 100%, for instance.

This is not incor

[2021-12-30 21:13] TuomasBorman commented on #192
I was starting to implement this and I realized that this function calculates correlations only for feature-pairs. For example, correlation between taxa and metabolites that share same samples.

Currently we do not have functionality that calculates correlations between samples. We should implement this, I create some kind of draft

[2021-12-30 23:13] antagomir commented on #192
Might be easiest to have this in a single function but I am not sure. You can consider something analogous like we have `transformSamples` and `transformFeatures` and `transformCounts` if this seems necessary/clearer to separate.

[2021-12-31 10:13] antagomir opened #196 "Support the analysis of matched samples"
It is relatively common that an experimental study has paired samples, for instance baseline and intervention time points from the same individuals. Then one would prefer paired tests and visualizations. Potentially there could be also more time points, with such matching.

This could be supported by providing handy methods to split the `SE` object into such matched assays. The `altExp` structure

[2021-12-31 20:29] FelixErnst commented on #186
I think you need to think about this a bit more and focus on the actual steps of an analysis. (In any event `rowClust` is not a good name for any function, since the same clustering method would and should also be available for cols)

I can already see that any type of clustering would start with generating a factor along rows. And rows of the same cluster should be merged. Is this assumption corr

[2021-12-31 21:11] FelixErnst commented on #190
This requires an additional class to be defined, if such a class is not available in BioC, since MAE links samples not features as @antagomir pointed out.

The requirements would be as follows:
- To be compatible with MAEs it would need to extend from TSE
- A hard-coded alternative TSE slot to hold the "mirror" data also as an TSE
- A hard coded slot for linking data (also allowing for non-linked

[2021-12-31 22:44] antagomir commented on #190
Whoa! Well this could be useful and valuable. It is also some work. Let's see how we get there.. PRs welcome! :-)

Maybe one thing to still consider more carefully before jumping into it: if there are alternative (completely different?) solutions for operating in this space, or if the broader `SE` community is working on this already.

[2021-12-31 22:51] antagomir commented on #186
Yes.

`mergeRows` has been used in the PR.

Agree about rows/cols, although the initial motivation was to have a wrapper for Co-Abundant (taxonomic) Groups (CAGs), which is a well-known concept.

[2021-12-31 23:48] FelixErnst commented on #186
OK, but than add a function to add the CAG to colData. They can be used as factors for any number of purposes, but this doesn't require a function dedicated only for one task

[2021-12-31 23:57] FelixErnst commented on #191
`splitBy` would be a good name.

The function could use a defined factor or a character name for `colData` to get the factor. In addition the length of the factor could determine if cols or rows are split, either by the length or whether the name is found in col/rowData. colData should take precedence, since the split function is already usable for rows.

[2021-12-31 23:57] FelixErnst commented on #196
In my opinion you are thinking to complicated about this.

The first step is to have one or in this case two factor(s) in the colData. Whether these factors are subjects, timepoint or who knows what is irrelenvant. If you implement a function which takes into consideration two factors, one for the matching and for the test, you are done, aren't you?

Any splitting is easy: just use `splitBy` as pr

[2021-12-31 23:57] FelixErnst commented on #185
I don't think that is a good idea.

I would ask the question, why is the data not reported back? Is it not added or is it removed?

[2022-01-01 09:41] antagomir commented on #185
I am not sure what the "why is the data not reported back" refers to?

But at least I often need to run analyses at multiple taxonomic levels, including ASV/OTU level. It is rather inconvenient for the analysis that one of the abundance tables requires a different treatment than others, although it is as much taxonomic features x samples matrix as the other ranks.

[2022-01-01 09:46] FelixErnst commented on #185
Sure, I agree with that.

~But instead of diluting the meaning of taxonomyRanks, the question I am asking is, why is `splitByRanks` not returning the data as you would like it to do? I am not sure, because I cannot recite the code from memory.~

~Answering this question would allow a better fix to be implemented, a fix which would be a general fix and not a fix for a column, which is not a taxonom

[2022-01-01 09:50] antagomir commented on #191
When `SE` is split by rowData (e.g. taxonomy), one can use `altExps` because samples remain matched. This is how `splitByRanks` operates, for instance.

When `SE` is split by colData (e.g. whatever grouping there), one cannot use `altExps` because samples are, in general, not matched after the split by an arbitrary grouping factor while `altExp`requires that matching for the samples.

Then would t

[2022-01-01 10:00] FelixErnst commented on #185
After reading a bit more into your example, I think this is an non-issue:

First `mergeRows` will give you the result you need using any additional factor in `rowData`
[code]

Second, this doesn't make sense with the example data you have provided since there is nothing to be aggregated:
[code]

[2022-01-01 10:01] antagomir commented on #185
I am not sure if it was really intentional to leave out OTU/ASV level from `splitByRanks`. If it was, I am also curious to learn more about this.

Technically, the OTU/ASV level is left out because `rowData(se)` typically includes that most refined taxonomic level in `rownames`, rather than as an additional `rowData` field (see below).

The OTU/ASV is not a scientifically characterized taxonomic e

[2022-01-01 10:06] FelixErnst commented on #185
So there we have it. It is not standardized, it is not a real biological rank, even the name is not since sometimes it is called OTU and sometimes ASV.

So why would it make sense to complicate `taxonomyRanks` for something nobody can agree on?

Using `mergeRows` you can agreggate however you would like to. It is totally up to you, its is even a one-liner. I really don't see the issue

[2022-01-01 10:18] antagomir commented on #185
Totally fine with not messing up `taxonomyRanks` with this but I do not yet see how `mergeRows` will solve the issue. Even after that, the `splitByRanks` does not return OTU/ASV table (i.e. the full count assay)  as one of the `altExp` assays. This means that the OTU/ASV level will require separate handling even in cases where it will be analysed in batch with the other levels. Many analyses are r

[2022-01-01 10:29] FelixErnst commented on #185
`splitByRanks` is a convenience function, which is really just that. The convenience comes from the fact that biological ranks are agreed upon and everybody can use it.

This little example get you what you want:

[code]

If you really really really think, that saving 2 lines of code is worth writting a function, than write a wrapper and call it `splitByAddRanks` or something., IMO writting 100 li

[2022-01-01 10:36] FelixErnst commented on #191
Sure. It is a differenc operation, therefore a different output is expected, isn't it?

Btw: `splitByRanks` also returns a list of `SE`s so I guess it is not that different after all

[2022-01-01 10:40] FelixErnst commented on #194
Please read `?agglomerateByRank` and have a look at the `na.rm` argument.

[code]

[2022-01-01 10:41] #194 closed, assigned to nobody

[2022-01-01 10:47] FelixErnst commented on #158
Any news on this?

[2022-01-01 10:48] FelixErnst commented on #137
Any news on this?

[2022-01-01 10:49] FelixErnst commented on #112
Closed by #147

[2022-01-01 10:49] #112 closed, assigned to microsud, HenrikEckermann

[2022-01-01 10:50] FelixErnst commented on #128
Any news on this?

[2022-01-01 10:55] FelixErnst commented on #125
Any news on this?

[2022-01-01 10:59] FelixErnst commented on #103
I read up on this on the `philr` repo. I guess this can be closed. Please reopen, if needed

[2022-01-01 11:00] FelixErnst commented on #114
Any news on this?

[2022-01-01 11:00] FelixErnst commented on #69
Any news on this?

[2022-01-01 11:07] antagomir commented on #114
I have a plan on how to do this but will take till Feb/March before it can be completed, unless there are some faster volunteers.

[2022-01-01 11:09] #127 closed, assigned to FelixErnst, shigdel

[2022-01-01 11:13] antagomir commented on #125
I now asked again in the vegan issue. Progress depends on that, at least partially.

[2022-01-01 11:14] antagomir commented on #128
Pending on [vegan #433](https://github.com/vegandevs/vegan/issues/433)

[2022-01-01 11:31] antagomir commented on #191
`splitBy` with rowData is different from `splitByRanks` but it could be put into `altExp`, unlike `splitBy` with colData.

It might be conceptually more clear that `splitBy` returns a list in both cases. The utilities of `altExp` are not generally applicable in this case but that's probably fine for this one.

[2022-01-01 11:51] antagomir commented on #103
I would like to suggest to create a wrapper in *mia*.

But that would introduce a new dependency (*philr*), and the use would be limited to a single transformation.

Hence, perhaps a better solution is to add an example to `transformSamples` on how to add transformations that are not readily provided by *mia*. I will prepare a PR.

[2022-01-01 13:16] antagomir commented on #103
PR #197

[2022-01-01 13:44] antagomir opened #198 "Add tree collapse to subsetByPrevalentTaxa and other related methods"
Feature subsetting methods include at least `subsetByRareTaxa` and `subsetByPrevalentTaxa`.

The problem is that these do not collapse the `rowTree`. That has to be done separately:

[code]

However, tree collapsing is available through `TreeSummarizedExperiment::subsetByLeaf`, if one does subsetting by specifying taxa.

[code]

It would be convenient if the tree collapse step could be directly in

[2022-01-01 14:19] antagomir commented on #186
In fact this is what the current rowClust function does. We can change the name to getCAGs but motivation for the rowClust name was that it is a bit more descriptive. And the clustering method does not matter, we could support any number of clustering methods that can be easily incorporated to rowClust. If this is not feasible, though, then perhaps a more specific function, like getCAGs, with a mo

[2022-01-01 14:20] antagomir commented on #137
Not yet. Agree that this should be closed asap.

[2022-01-01 14:22] antagomir commented on #196
Yes, if we are ok with having the output from splitBy as a list, rather than use `altExp`, `MAE`, or other such mechanism and their associated methods.

[2022-01-01 14:33] antagomir commented on #185
From data analysis perspective these are just taxonomic units at different levels. The only exception is that OTU/ASV does not have the same biological interpretation than other ranks.

But it does have the same technical interpretation as a matrix of taxonomic features vs. samples, and this is often what matters for a data analyst.

I reopen this for now because I in my own experience this would

[2022-01-01 17:51] FelixErnst commented on #186
IMO the flexibility shown in the OSCA book regarding clustering should be carefully examined. A wrapper to solve all clustering problem is be definition not easy compared to implementing the clustering by itself. Thats probagly why nobody implemented it, yet.

I have mentioned my issue with the name `rowClust`.

[2022-01-01 17:57] FelixErnst commented on #198
Good suggestion, but the wrong package. The `[` is part of the `TreeSummarizedExperiment` package.

However, this subject was brought up before: https://github.com/fionarhuang/TreeSummarizedExperiment/issues/34

edit: The summary of the discussion in that thread: Mutliple rows can be linked to a leaf. Therefore, automatic trimming is not really an option

We discussed this at some point on slack a

[2022-01-01 23:32] antagomir commented on #137
I mean closed by providing a solution.

[2022-01-03 15:06] microsud commented on #158
PR for this #199

[2022-01-04 20:28] taekwonleo-yuhao opened #200 "Conversions data formats from phyloseq to TSE"
Dear developers,
I am learning how to use mia to analyze microbiome data. But mia needs to convert the phyloseq format into TreeSummarizedExperiment format.
I try to use the function makeTreeSummarizedExperimentFromPhyloseq from mia. But it gives me an error message.
library("mia"); packageVersion("mia")
#[1] ‘1.3.9’

ps1_ABX
#phyloseq-class experiment-level object
#otu_table() OTU Table: [ 788 ta

[2022-01-05 07:38] TuomasBorman commented on #200
Hi Yuhao!

Thanks for this issue, this helps us a lot.

`(Tree)SummarizedExperiment` requires that samples and features match in specific way
- samples
   - `colnames of assay` and `rownames of sample meta data` should match
- features
   - `rownames of assay` and `rownames of taxonomy data` should match

In your case, they do not match because **your `assay` has samples in rows and taxa in column

[2022-01-05 15:58] antagomir commented on #198
How about providing an option to collapse the tree (default FALSE)? I assume that this is possible in many practical cases. And when it is not, the function could provide error and an informative message that informs the user that it is not possible to collapse the tree due to the above mentioned reason? Or I could suggest to add this to TreeSE `[` operation.

[2022-01-06 11:28] antagomir commented on #185
My interest is to just add the full feature table in the splitted list, as in the example below.

[code]

The highest-resolution level (OTU/ASV level in 16S studies) is routinely analysed together with taxonomy ranks. Because it is so common to run this level in batch together with other ranks, it would be an inconvenient extra step to add on a regular basis. There seems to be broader support as w

[2022-01-07 22:50] antagomir commented on #125
I have now made a [PR to vegan](https://github.com/vegandevs/vegan/pull/458).

[2022-01-07 22:52] antagomir commented on #128
I have concluded that ILR & ALR are not critical at this point, can be added later if necessary.

[2022-01-07 22:52] #128 closed, assigned to antagomir

[2022-01-11 11:32] #137 closed, assigned to antagomir

[2022-01-11 17:27] antagomir commented on #158
Closed via #205

[2022-01-11 17:27] #158 closed, assigned to nobody

[2022-01-11 17:28] antagomir commented on #114
@RiboRings is now completing this.

[2022-01-11 17:28] #114 closed, assigned to antagomir, RiboRings

[2022-01-11 17:34] antagomir commented on #125
**vegan** has now [merged the PR](https://github.com/vegandevs/vegan/pull/458) including `clr` and `rcrl` transformations, and the corresponding Aitchison distances.

I am suggesting a PR that will replace mia functions for clr, rclr, and other transformations that are readily available through vegan (at least hellinger).

The Aitchison distances are available through vegan through vegdist and can

[2022-01-11 21:54] antagomir opened #206 "addPerSampleDominantTaxa looses altExps"
This happens:

[code]

Imo this shouldn't happen and should be fixed.

[2022-01-11 22:03] antagomir commented on #206
A similar thing seems to happen with runMDS, probably then also with other methods. Should be checked more broadly.

[2022-01-12 12:18] TuomasBorman commented on #206
You seem to have a little mistake

`altExp`s are stored in `tse`, however, you are feeding `altExp(tse, "Genus")` as an input which **include genus level data without `altExp`s**

[code]

Function seems to work as planned. However, I can see what was your intention. Should we have `rank = "Genus"` a parameter for this purpose (to get dominant taxa of certain rank)?

[2022-01-13 12:43] nr0cinu opened #207 "Functions could/should gracefully handle zero row data"
Hi :)

Imho, it would be good if the mia functions would return empty results when nrow(tse)==0.

For example:

[code]

If those functions would return `character(0)` or new TSEs with also nrow==0 this would be more consistent and one would not have to setup checks for workflows of nrow==0.

Thanks!
Bela

[2022-01-13 12:52] antagomir commented on #207
I think this would be useful, unless @FelixErnst has something to add.

[2022-01-13 18:27] antagomir commented on #206
Yes that would be a good solution.

[2022-01-18 14:55] antagomir commented on #186
I agree that a new package might be useful, we aim to activate with that soon. This is a relevant CRAN package for phylogeny-aware dissimilarity measures [GUniFrac](https://cran.r-project.org/web/packages/GUniFrac/index.html). This issue can be closed after we have initiated that new cluster-oriented pkg.

[2022-01-19 13:41] nr0cinu opened #208 "countDominantTaxa fails when multiple features share the top spot in a sample"
Hi,

when there are features having the same count in one sample and these features are the most abundant, countDominantTaxa will failed. I think its because the output of perSampleDominantTaxa is wrong.

Example:

[code]

Thanks!
Bela

[2022-01-19 14:08] nr0cinu opened #209 "Making use of metadata() when processing tse containers with mia functions"
Hi,

it could be very useful if mia functions would add information about processing to the metadata() part of the container.

For example:
* agglomerateByRank could save the rank it was agglomerated on.
[code]
* subsampleCounts could save min_size
* isContaminant could save the decontam options, like threshold.

Something similar is done for phyloseq in [microViz](https://david-barnett.github.io/

[2022-01-19 14:59] antagomir opened #210 "agglomerateByRank to drop the"
Agglomeration from Species to Genus level (and other analogous things) still keeps the Species in rowData, although they become obsolete in the agglomeration. Could we drop the taxonomy ranks by default, or at least provide an option to do so?

[code]

[2022-01-19 15:35] antagomir commented on #209
I think this is an important idea. How to best implement might be more tricky and case-by-case.

One option: user could select to store information in a metadata element, which would be named by the appropriate function. Each function would have some set of standard metadata that they will add this way, if requested. Like `metadata(GlobalPatternsGenus)$agglomerateByRank <- ....`

[2022-01-19 15:40] antagomir commented on #208
@TuomasBorman this seems good to prioritize over many other issues

[2022-01-19 15:43] TuomasBorman commented on #208
Hmmm, yes. I will check this

[2022-01-20 10:18] TuomasBorman commented on #208
Thank you Bela!

This situation with multiple dominant taxa in one sample was missed. As you said, the wrong output of `perSampleDominantTaxa` caused problems.

There are still some things to consider.

I create a PR where we can continue.

-Tuomas

[2022-01-21 10:55] TuomasBorman commented on #206
It actually already includes the parameter. These return information on the most dominant phyla

[code]

Does this solve your problem?

[2022-01-21 22:41] antagomir commented on #206
Ah yes. Thanks.

[2022-01-21 22:41] #206 closed, assigned to TuomasBorman

[2022-01-22 08:51] antagomir opened #212 "getTopTaxa rank option?"
It would handy if the `getTopTaxa` function could be used for any specified level, in the same way as `perSampleDominantTaxa` for instance.

It could work like this (but the rank option does not seem to be available yet, this returns ASVs):
`getTopTaxa(tse, top = 5, abund_values = "relabundance", rank="Phylum")`

This returns genus level info:
`perSampleDominantTaxa(tse, abund_values = "relabundan

[2022-01-24 09:23] TuomasBorman commented on #210
You mean that when agglomeration is done at `"Phylum"` level, columns `"Class", "Order", ... "Species"` are removed so that rowData includes only columns `"Kingdom"` and `"Phylum"`?

I think that could be justified. I think I could create a hidden option (`...`) for that. Let's see if we decide to do something else when the functionality is available

-Tuomas

[2022-02-06 10:19] #200 closed, assigned to TuomasBorman

[2022-02-06 10:25] FelixErnst commented on #185
Form my point of view adding additional arguments is not helpful. This has been suggested on a lot of issues without taking one step back and looking at it from the point of havinga clear function names which can be intuitively used.

The solution is very simple. Implement a `splitBy` as Tuomas has done in #216. I will have a look at there.

[2022-02-06 10:42] FelixErnst commented on #125
Any news on this? How do you want to proceed?

[2022-02-06 10:44] FelixErnst commented on #207
Well, I guess I forgot some checks...

[2022-02-06 10:47] antagomir commented on #125
They are just about to merge the PR which is already done and passed all checks. We added some modifications to method names per their request. I am following up the merge process in vegan, and as soon as they make the new CRAN release, I will find time to finalize these issues.

[2022-02-06 11:37] #210 closed, assigned to antagomir, TuomasBorman

[2022-02-06 11:52] #208 closed, assigned to TuomasBorman

[2022-02-06 12:08] antagomir commented on #185
Yes perfect. Might be good to cross-reference these in @seealso field once the `splitBy` is ready.

[2022-02-06 12:18] FelixErnst commented on #207
Looking at it a bit more, I think an error in your first example might be in order. This would stick to the `error early, error often` guideline.

So the error in the second example is valid. I rephrased the error message for more verbosity in #217

Does this work four you?

[2022-02-06 12:54] #207 closed, assigned to TuomasBorman

[2022-02-06 13:32] FelixErnst commented on #212
Closed by 82eb400dab3288b3a81f13cc1c7ff68672cabcc1

[2022-02-06 13:32] #212 closed, assigned to TuomasBorman

[2022-02-06 13:33] #103 closed, assigned to antagomir

[2022-02-06 13:40] #209 closed, assigned to FelixErnst, TuomasBorman

[2022-02-07 08:58] nr0cinu opened #219 "taxonomy ranks are too restictive"
Hi,

in case one's taxonomy ranks fall outside of what is hard-coded in `mia::TAXONOMY_RANKS`, it breaks functions like `taxonomyRanks`.

For example:

[code]

One solution would be to be able to customize TAXONOMY_RANKS. Or include **all** possible ranks in TAXONOMY_RANKS. Especially eukaryotes have a bunch of more ranks.

Thanks!
Bela

[2022-02-07 09:37] antagomir commented on #219
One aspect in using TAXONOMY_RANKS is to enforce certain standards.

However, there are situations where some other categories are needed for a similar purpose. We are now working on that in a `splitBy` issue, which is in preparation #216

[2022-02-07 10:30] nr0cinu commented on #219
The current set of values in TAXONOMY_RANKS is very 16S centric. Some 18S reference databases use different/more ranks. And with the ongoing development of full rRNA seq methods, amplicon data may very well be at Strain level in the near future.

I get that standardization is important, but hard coding is almost never a good idea. There are always situations where one needs to work with modified s

[2022-02-07 10:33] antagomir commented on #219
This is good point. It would be great to see a comment from @FelixErnst on this but I know that it may take some time before he can respond. Should we allow users to define the rank names as they wish? We already had some discussion on this.

[2022-02-07 10:38] nr0cinu commented on #219
PS: I personally would leave the default TAXONOMY_RANKS as is, but move it to options(), so I can be (globally) modified by the user as needed. And if it is in options() in can also be used by other packages.

[2022-02-08 17:40] FelixErnst commented on #219
I would phrase it the other way around like this: taxonomyRanks breaks one's taxonomy ranks. This is the intention. It is the equivalent of "Mind the gap".

From my point of view standardization is a very good idea. Sometimes shortcuts and not following standards leads to a lot of work afterwards. However, shortcuts are sometimes good, but only if they are used like this and not as the new standar

[2022-02-08 17:43] FelixErnst commented on #219
How would that solve the problem, when you have two datasets with different assumptions in the same session?

[2022-02-09 07:36] nr0cinu commented on #219
Here is a real world example: https://benjjneb.github.io/dada2/training.html: `Note: PR2 has different taxLevels than the dada2 default. When assigning taxonomy against PR2, use the following: assignTaxonomy(..., taxLevels = c("Kingdom","Supergroup","Division","Class","Order","Family","Genus","Species"))`

[2022-02-09 17:12] FelixErnst commented on #219
Currently, I still don't see that this is a problem to be addressed in the `mia` package.

1. Your example includes a function named `agglomerate_by_rank`, which is not available from `mia`. (In `mia` there is a function called `agglomerateByRank`. Do you mean that function? Did you use it while encountering the problem?)
2. The link to the dada2 website doesn't contain a reproducable example. It

[2022-02-10 11:35] nr0cinu commented on #219
Ups, yeah, that is my custom wrapper function. But it just calls `agglomerateByRank` which is the cause of the error. I fixed it in the first example.

Sure, I could rename everything. However, the consensus for the DADA2 PR2 reference database is to use "Supergroup" and "Division", so when I deliver results to our collaborators, I would have to rename everything back.

Here is an example based on

[2022-02-10 15:41] antagomir commented on #219
What would be an example of a case where customization option leads to problems, when we assume that users in general know what they are doing in such cases? I tend to think that it is positive to allow users the freedom to do this also for other than some default groupings that are not fundamentally universal in the end. The `splitBy`(in the making) could solve this but then the added value of `s

[2022-02-10 20:11] FelixErnst commented on #219
Well you spelled it out there. By experience, I have to assume that nobody reads the man pages and therefore they don't know what the are doing.

I think they are very different functions and that they are named so closely sets my teeth on edge. `splitByRanks` is a fire-and-forget function, which works like it is named. `splitBy` is a crutch of some sort, because sometimes you want to split by som

[2022-02-10 20:19] antagomir commented on #219
If the other split function `splitBySomeOtherRanks` (with some other name) will be made, then `splitBy` could be potentially reserved exclusively for the case using the grouping factor `f`. It is now also providing functionality which is similar to `splitBySomeOtherRanks`.

[2022-02-10 20:20] FelixErnst commented on #219
It is not. Have a look at the code.

[2022-02-10 20:37] antagomir commented on #219
Right, it was only in the discussion part so far. It is better to not mix those indeed, and I agree that `splitBy` is disturbingly similarly named with `splitByRanks` bc of the differences. The `splitBySomeOtherRanks` would be useful for us too.

[2022-02-10 20:44] antagomir commented on #219
The issue #185 had discussion on including the full abundance table, optionally, as one of the outputs in `splitByRanks`, or a similar function. As well as about implementing something like `splitBySomeOtherRanks`. The conclusion in that issue seemed to be that `splitBy` will solve that need. Now it does not, which is good because it has another clearly defined scope. But `splitBySomeOtherRanks` c

[2022-02-10 21:26] FelixErnst commented on #219
I don't what you mean by "full abundance table".

No, the `splitBy` implementation confused the issue

No it has not. See the PR. The scope was as muddy as it could get

which let to the whole confusion.

I commented in #185

That exactly what has happened here. An implementation for a problem, which didn't exist and missing the implementation @and3k and @antagomir both have opened the same issue

[2022-02-10 21:27] FelixErnst commented on #185
Here is some code simplification:

In your example you used this example

[code]

The oneliner to replace it is:
[code]

@TuomasBorman can you post the bugreport? Thanks

[2022-02-10 21:37] FelixErnst commented on #219
@and3k: just to make it clear the solution to your problem is:

[code]

and if you want to agglomerate on more than one rank, it is the example given above:

[code]

Works with any data in the rowData, any additional taxonomic information you may encounter in any reference dataset

[2022-02-10 21:57] antagomir commented on #185
But the point was to add the full feature table as one of the elements in the new list. This is why something like `rowData(tse)$ASV <- factor(rownames(tse))` had to be done for the sake of the example. The point is, excactly, that the rownames are unique because we are willing to include the full abundance table and then this typically is the case. The corresponding onliner would be something lik

[2022-02-10 22:07] antagomir commented on #219
I would be fine with just having this as an extra example in `splitByRanks` (logical place to find), and/or in the relevant section OMA so that it can be found. Should we do that instead, to avoid creating many functions and go with that until there is more evidence that a new function is needed?

[2022-02-10 22:10] FelixErnst commented on #185
Depends on the rownames, doesn't it. They should be unique, so the example lacks some real world applicability.

You don't want a list with SEs, each one row long, don't you?

With the example given above `li` will be the same as `tse`. So I don't see the point. A better very very detailed example with real world example data is needed.

[2022-02-10 22:14] FelixErnst commented on #219
Sure go ahead.

[2022-02-10 23:09] antagomir commented on #185
The real world example, where we split by ranks and then add on top of that the full abundance table, which has the most high-resolution features that are available. Often we like to analyse this in batch with the higher level features. This is the same example as above.

[code]

[2022-02-11 06:38] FelixErnst commented on #185
This is running in circles.

You example is either incomplete or inaccurate in showing what you actually need since:

[code]

your result is the same as:

[code]

For which operation do we need some new function?

As mentioned above:

Please provide it or close the issue. Thanks

[2022-02-11 06:43] FelixErnst commented on #185
And if you want to combine the splitByRanks result with original heighest resolution, why not do something like this?

[code]

[2022-02-11 10:53] antagomir commented on #185
The first example works, there is just one minor shortcoming

[code]

For some reason, name cannot be assigned to the new element this way. But this can be circumvented by adding the names afterwards so I guess it is ok.

"Kingdom" "Phylum"  "Class"   "Order"   "Family"  "Genus"   "Species" ""

The latter does not work as such since the `altExp()` list will not contain the full assay, that would n

[2022-02-11 10:53] #185 closed, assigned to nobody

[2022-02-11 18:11] FelixErnst commented on #185
[code]

should work

[2022-02-12 10:19] antagomir commented on #185
omg.  Somehow expected the first one would work as well because c(a=list(1), b=list(2)) does.. nice.

[2022-02-15 15:15] mbizzo opened #259 "add detection value for getTopTaxa with method "prevalence""
Hi there,
I am kind of new to this, so excuse me if this thread is futile.
I am currently using your package and I think it's super neat. However, when I use getTopTaxa() with the method "prevalence", I get non-sensical results.
I think the problem stems from here:

In the getTopTaxa function:
if (method == "prevalence") {
  taxs <- getPrevalence(assay(x, abund_values), sort = TRUE,

[2022-02-16 14:24] ricmedveterinario opened #222 "relAbundanceCounts function with error."
Hello, my name is Richard, and I have a question regarding the relAbundanceCounts function.

Is it not working? I tried to run the example you provided, but the same error always appears.

I tried to run it in a number of ways in a very reliable way to the examples. All.

9.1.1 Composition barplot (https://microbiome.github.io/OMA/microbiome-community.html)

GlobalPatterns <- relAbundanceCounts(Gl

[2022-02-19 10:54] antagomir commented on #222
It seems to me that you are trying to apply functions from miaverse on a `phyloseq` object. These functions assume `SummarizedExperiment` objects. You can use `data(GlobalPatterns, package="mia")` to make sure you get the example data in the correct format. The GlobalPatterns data set is available in both phyloseq and TreeSummarizedExperiment.

[2022-02-19 10:54] #222 closed, assigned to nobody

[2022-02-19 10:58] antagomir commented on #259
Thanks! I think should allow users to pass `detection` argument via `getTopTaxa`. Can you @TuomasBorman check this, also if any other arguments would need to be passed (permissive by default).

[2022-02-23 12:29] TuomasBorman opened #223 ".calculate_rda: na.action option"
https://github.com/microbiome/mia/blob/9050995ae179842422c51bd33771d6db497ad6f0/R/runCCA.R#L180

`vegan::rda` has an argument `na.action `

I was not able to use calculateRDA since I had missing values (some patients did not have "Age"). We might want to consider if we allow `na.action`. Though, I'm not sure if it can be implemented easily.

Downside is that the returned rda object does not have a

[2022-02-26 09:06] antagomir commented on #223
IMO we could pass all/most argument options that are available in *vegan* and the user is the one who decides how to deal with those limitations?

The name of this method is "Canonical Correspondence Analysis", and not "Canonical Correspondance Analysis" -> Fix as well.

[2022-02-26 09:17] antagomir commented on #125
@FelixErnst - could you check the discussion on licenses at my [vegan PR on decostand/vegdist](https://github.com/vegandevs/vegan/pull/460), where we utilized earlier code from *mia*. For that code we would need to switch from Artistic2 to GPL2. OK to you?

[2022-03-02 18:07] FelixErnst commented on #125
That is OK for me. Do I need to comment there?

[2022-03-02 21:48] antagomir commented on #125
Let's see. @TuomasBorman can you confirm here as well that license switch is ok. You have contributed some commits to this part.

[2022-03-02 21:55] TuomasBorman commented on #125
That is ok

[2022-03-02 23:35] antagomir commented on #125
Let's see. Hopefully enough like this.

[2022-03-09 12:33] antagomir commented on #125
Ok guys, can you also confirm the license switch at this [vegan issue #460](https://github.com/vegandevs/vegan/pull/460) so we get fwd.. @TuomasBorman @FelixErnst

[2022-03-24 14:48] TuomasBorman opened #227 "Replace RDA with dbRDA"
Hi,

currently `mia` has `runRDA` and `calculateRDA` functions that are wrappers for `vegan::rda()`. However, `vegan::dbrda` is more suitable because  there are also other options than euclidian dissimilarity (all that can be calculated with `vegdist`, I guess, + `dfun` option).

We should consider replacing `vegan::rda` with `vegan::dbrda`.

There are few differences that I found already

- No `s

[2022-03-24 14:50] TuomasBorman commented on #227
I think function names could be still the same (runRDA and calculateRDA)?

[2022-03-24 15:31] antagomir commented on #227
Same naming might work but we need to consider carefully because db-RDA is the "official" name of the newly suggested method, and it is different from the classical / standard RDA. We must also avoid confusion. But rundbRDA does look so nice either..

[2022-03-24 15:34] TuomasBorman commented on #227
Yep, the issue with rundbRDA was just what I meant, but the name can be changed easily

[2022-03-29 19:47] sarahisherb opened #228 "Using mia for functional data"
Hi, I'm wondering if mia can be used to analyse functional data? I have a list of KEGGs with their relative abundances from the HUMANN 3.0 pipeline. It looks like the TSE class uses taxonomy only. Is there a way to work around this?

Apologies if the question is irrelevant!

[2022-03-29 19:49] antagomir commented on #228
Yes indeed it can be used for that, although we can certainly add many more tools in this integration toolkit in the future.

We have example data and already planning to add examples. We can try to check this week, I will mention here when some basic examples with Humann3 are in place, hopefully soon.

[2022-03-30 03:41] sarahisherb commented on #228
Thanks for the quick reply! I figured out I have to make a TSE-class object as the input to use mia. I managed to do that, but I get this error when running diversity analysis

[code]

`Error: 'abund_values' must be a valid name of assays(x)`

I'm not exactly sure what goes in abund_values, but it might have to do with the data import, I guess? I tried a few other options for `abund_values = `, bu

[2022-03-30 06:40] antagomir commented on #228
You can see available assays in your data object with `assayNames(tse)`.

The default is "counts", I think. You can specify this explicitly at the reading phase:

Recommended: `tse <- TreeSummarizedExperiment(assays = SimpleList(counts=myabundancematrix))`
or
Possible: `tse <- TreeSummarizedExperiment(assays = list(counts=myabundancematrix))`

The `assay` must be `matrix`.

The `rowData` and `colD

[2022-03-30 16:47] sarahisherb commented on #228
Hi!! I think I figured it out and it worked,  it was definitely the SimpleList code that helps. I will show my code so you are interested to see if I did it right, and for others who may have the same problem.

My data is as follows:

`kegg.f` = abundance table of features as rows and samples in columns (as per image above)
`metadata` = standard metadata table, but samples in rows and variables in

[2022-03-30 20:08] antagomir commented on #228
Yes you are doing it right. +1

[2022-04-03 11:45] antagomir opened #229 "Add CONTRIBUTING.md guidelines"
Seems useful at an external julia package: [CONTRIBUTING.md](https://github.com/EcoJulia/Microbiome.jl/blob/main/CONTRIBUTING.md) - we could add something similar in mia and link from README. Can be helpful for less experienced users, and even for more experienced to harmonize conventions.

[2022-04-09 19:17] antagomir commented on #125
The feature is now in the vegan github main branch but it is currently unknown how fast there will be a CRAN release. We must wait for a while. Can ask then.

[2022-04-09 19:23] antagomir opened #230 "Examples switching from SE to TreeSE where possible"
The TreeSE inherits from SingleCellExperiment and has slots that are not available in SE. Hence, there are methods that do not work with SE objects but do work with TreeSE objects (that do not have a tree). The dimension reduction functions are one example:  `SummarizedExperiment` does not have reducedDim slot, however, `TreeSummarizedExperiment` does have that slot.

For the sake of being systema

[2022-04-10 09:11] #192 closed, assigned to TuomasBorman

[2022-04-12 11:42] #230 closed, assigned to TuomasBorman

[2022-04-20 18:23] antagomir opened #233 "Alias for getPrevalentTaxa"
The `getPrevalentTaxa` can be useful function also for other assays and omics. I suggest to add an alias: `getPrevalentFeatures`

[2022-04-21 06:50] TuomasBorman commented on #233
Good idea. Should we also consider aliases for other `*taxa` functions?

- getTopTaxa
- getUniqueTaxa
- countDominantTaxa
- getPrevalentTaxa
- getRareTaxa
- subsetByPrevalentTaxa
- perSampleDominantTaxa
- addPerSampleDominantTaxa

[2022-04-21 07:13] antagomir commented on #233
Yes.

[2022-04-22 09:28] #233 closed, assigned to TuomasBorman

[2022-04-23 11:32] antagomir opened #236 "New example data set"
We like to add a small demo data set for course training purposes. From our [recent paper](https://peerj.com/articles/13075/) in Indian skin microbiome. Having this as part of the package is a better solution for fast demo examples than having it in the `microbiomeDataSets`. We know the data well and it is good for demonstrating certain methods.

[2022-04-27 18:18] antagomir opened #237 "summary failure"
The function mia::summary is not robust to NAs.

This works for example data as expected:

[code]

Then we add some NAs:
[code]

This fails with

Error in if (any(colSums2(assay.x) < 1) | any(colSums2(assay.x) < 0)) { :
  missing value where TRUE/FALSE needed

It seems that the `na.rm` argument is not passed to the auxiliary functions in
[summaries.R](https://github.com/microbiome/mia/blob/master/

[2022-04-27 18:19] antagomir commented on #237
If @microsud has a chance to fix that would be great. If not, perhaps @TuomasBorman ?

[2022-04-28 07:03] microsud commented on #237
Hi Leo- I think the assay objects should never have NAs as these are expected to be raw counts. We have an error message for this. `There are samples that sum to 1 or less counts , Try to supply raw counts`. I can try to add an informative error message for this.

Best wishes,
Sudarshan

[2022-04-28 07:08] antagomir commented on #237
That's fine too - - it is theoretically possible that one would try to use these tools on other types of data that may have missing values. Perhaps the error message can mention that this function is limited to sequencing data only, and that is not expected to contain missing values.

[2022-04-28 08:16] microsud commented on #237
yes. Do I also bump the version for this PR?

[2022-04-28 08:21] antagomir commented on #237
yes please

[2022-04-28 13:52] #237 closed, assigned to microsud, TuomasBorman

[2022-04-29 18:27] #227 closed, assigned to nobody

[2022-05-03 10:47] kusandeep opened #247 "transformCounts error"
Hi,
Thanks for creating such an awesome package.
I am getting an error at transformCounts function, must be very basic mistake done by me, but would be great if I can get some help.

`> v5v7 <- transformCounts(v5v7, method = "relabundance")
Error in MatrixGenerics:::.load_next_suggested_package_to_search(x) :
  Failed to find a colSums2() method for data.frame objects.`

Thanks and much appreciate

[2022-05-03 14:26] antagomir commented on #247
What is the class of the `v5v7` object?

[2022-05-03 15:29] kusandeep commented on #247
Please see below.
`> v5v7
class: TreeSummarizedExperiment
dim: 2713 20
metadata(0):
assays(1): counts
rownames(2713): OTU1 OTU2 ... OTU2712 OTU2713
rowData names(7): Kingdom Phylum ... Genus Species
colnames(20): S17s1B S17s1RH ... S23s5B S23s5RH
colData names(5): Sample Plot Rep Treat Sample_type
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):
rowLinks: NULL
rowTree: NULL
colLinks: NULL
col

[2022-05-03 15:34] TuomasBorman commented on #247
Hi!

The problem is that your assay is in d`ata.frame `format; assays should be in `matrix` format.

Does this work:

`assay(v5v7, "counts") <- as.matrix(assay(v5v7, "counts))`

[2022-05-03 15:47] kusandeep commented on #247
Yes. All working now. Thanks for the quick response, loving the package so far.
I probably will come up with some more queries :).

[2022-05-03 15:51] TuomasBorman commented on #247
OK, good. All feedback is welcome, and we are happy to help if something is unclear

-Tuomas

[2022-05-04 10:28] #247 closed, assigned to TuomasBorman

[2022-05-08 08:26] antagomir commented on #236
Closed via #248

[2022-05-08 08:40] antagomir commented on #236
@Renuka-3 I forgot this:

- update the NEWS file

[2022-05-11 18:22] TuomasBorman opened #253 "assay in other format than matrix causes an error"
Hi,

many our functions expect that `assay` is in `matrix` format. However, that is not the case all the time. In `TreeSE`, `assay` can also be in `data.frame` format, for instance. When user imports `counts` data in` df` format, this causes an error which is hard to interpret.

We should solve this somehow. We could

1. Add checks for every function that is affected by this problem, (and convert

[2022-05-11 18:42] antagomir commented on #253
1. I think this is a good solution, when accompanied by an informative warning that might suggest that the user considers converting the assay into matrix format. It is likely that they want to do that, if they are trying to call functions that expect this.
2. It is good to have an object validator and that could potentially check other things at the same go.

[2022-05-18 15:11] kusandeep opened #254 "agglomerateByRank help"
Hi,
I wanted to explore family-level abundance density, and for that, I used the code below.
`v5v7_TSE_family <- v5v7_TSE %>% agglomerateByRank(rank = "Family")`

`plotAbundanceDensity(v5v7_TSE_family, layout = "jitter", abund_values = "relabundance",
                     n = 10, point_size=1, point_shape=19, point_alpha=0.3) +
  scale_x_log10(label=scales::percent)`

However, when I agglomerate b

[2022-05-18 15:53] antagomir commented on #254
Here the Family field contains "uncultured" members that are associated with multiple different higher ranks depending on the row. I think solutions are:

1) Mark "uncultured" as NA and ignore them; or aggregate data to rank level and discard "uncultured" before visualiztion

2) Rename them, for instance with an extended string as you propose, to distinguish between different uncultured families

[2022-05-19 01:17] kusandeep commented on #254
Thanks. Being a beginner would be great if you could please write the code to do the options 1st  (aggregate and discard "uncultured" ) that you suggested as this seems to be the quick fix for now.
Also if possible, would be great to have the code for the second option as well to cross-check what's happening. I am working in TreeSummarizedExperiment environment so not sure how to apply `microbiome

[2022-05-20 19:04] antagomir commented on #254
You can see if this works for you

[code]

[2022-05-20 19:06] antagomir commented on #254
@microsud or @TuomasBorman do you have another trick for the "Combine names as a hack" point in my example above (just before the last plot)? I think we already implemented something to combine ranks but could not immediately find where. The `agglomerateByRank` or `plotAbundanceDensity` do not readily provide this.

[2022-05-20 20:12] microsud commented on #254
The taxonomic labels are challenging. The option I use is different. Often the uncultured taxa are rare and therefore by using the `agglomerateByPrevalence` you can avoid them.

[code]
If they still pop up then they are likely important in your data and you need to investigate them in detail.

[2022-05-20 20:28] antagomir commented on #254
It is not clear from the function documentation whether `agglomerateByPrevalence` selects the prevalent ones before or after agglomeration. This makes a difference. The non-prevalent ones can collectively contribute remarkably to relative abundance estimates.

Action point:
- clarify the manpage
- make sure that the default is as expected (prevalence filter after agglomeration); otherwise consider

[2022-05-21 08:46] kusandeep commented on #254
Thanks for providing the code.

now I am getting error at

Error in replace_na(x, "uncultured") :
  could not find function "replace_na"
Called from: FUN(newX[, i], ...)
Browse[1]>

And then the terminal get stuck at this error!!

[2022-05-21 09:15] antagomir commented on #254
The `replace_na` function comes from the `tidyr` R package.. in fact there is a command in the above reproducible example that is loading this package.

[2022-05-22 11:44] kusandeep commented on #254
Thanks
This one worked too, however, the figure looks slightly different now with "other" in the list and one unculture still appeared too.
![image](https://user-images.githubusercontent.com/38409245/169693382-79a0fd4e-e8de-4480-8cef-7e47cd2ecf3b.png)

[2022-05-22 11:57] kusandeep commented on #254
Thanks. It was my R playing funny..

another related query.
Showing combined name/string is still my favorite option as it does help investigate those uncultured taxon taxonomy strings.
Also, I was wondering if this can be implied in `plotTaxaPrevalence` too which will solve the non-monophyletic groups issue as you pointed out above. Here I guess the y-axis need to relabel by using a combined stri

[2022-05-24 13:04] ChouaibB opened #256 "Missing rank at loadFromMetaphlan.R"
Hi,

When using the function, there seem to be that "Class" is missing at the altExps slot at the returned TreeSE.
It looks that "class" is missing at lines 179 and 200-201 of [loadFromMetaphlan.R](https://github.com/microbiome/mia/blob/master/R/loadFromMetaphlan.R)

![image](https://user-images.githubusercontent.com/86964562/170041445-210b512f-23b0-414b-9acb-c869bbc051f7.png)

![image](https://us

[2022-05-24 22:32] antagomir commented on #256
@ChouaibB if the solution is obvious could you create a PR and @TuomasBorman can check and merge?

[2022-05-24 22:44] antagomir commented on #254
We could have an option for "full" names in `plotTaxaPrevalence` I think.

In addition we need an example on how to add such full names in the tse data object (a new field in rowData). Such example could be in `plotTaxaPrevalence` manpage and/or OMA rowData manipulation examples for instance.

[2022-05-25 06:38] kusandeep commented on #254
That would be very helpful.

[2022-05-28 06:52] antagomir commented on #254
It may take some time, though.

[2022-05-28 11:00] kusandeep commented on #254
No worries, Thanks for the help here.

In the meantime. I have recycled your code from above which worked, except for those funny non-monophyletic groups. see the example below.

`
# Replace NAs with "uncultured" to have similar rowData than in the reported issue
rowData(tse) <- apply(rowData(tse), 2, function (x) {replace_na(x, "uncultured")})
print(head(rowData(tse))) # check

# Replace "uncultu

[2022-05-28 11:03] antagomir commented on #254
Thanks. Is this a general comment, or a question?

[2022-05-28 11:07] kusandeep commented on #254
It is a general comment as once you will have all the taxonomic strings concatenated after the agglomeration step, this problem should be solved. So I will wait for that.

[2022-06-03 13:49] TuomasBorman commented on #259
Hi! This was good addition. Sorry that it took so long

[2022-06-04 09:53] #256 closed, assigned to TuomasBorman

[2022-06-06 10:02] #191 closed, assigned to antagomir, TuomasBorman

[2022-06-08 08:47] asierFernandezP commented on #91
Hi,

I am also having some problems with CLR transformation. When doing CLR transformation on relative abundance values (Metaphan results removing the unknown portion and recalculating these relative abundances so that each sample has a total abundance = 1) and adding as peudocounts half of the minimum value, I get very different results on downstream analyses (including for instance the PERMANOVA

[2022-06-08 09:05] TuomasBorman commented on #91
Hi!

Thanks for pointing this out! That is because `transformSamples( method = "clr", ...)` does relative transformation inside the function. In your case, relative transformation is performed to values that are already relative...

@antagomir Any ideas how to fix this?

1. We cannot rely that all colSums equal to 1 (to check if values ae relative)
2. We cannot rely that the name of an assay is "r

[2022-06-08 09:14] asierFernandezP commented on #91
I am specifically using `transformCounts` function. Does it also do a relative transformation?

[2022-06-08 09:18] TuomasBorman commented on #91
Yep, transformCounts does exactly the same thing as transfromSamples

[2022-06-08 09:42] asierFernandezP commented on #91
Thank you! I think adding that  hidden option "relative = FALSE" could be really useful.

[2022-06-08 12:02] TuomasBorman commented on #91
Hmm.. I have to still check it in more detail

There are 2 things that lead to different results (relative abundances & CLR vs counts & CLR)

@antagomir :

--> since pseudocount is applied before relative transformation and because we don't know library sizes, ` min( assay(tse, "relabundance")[ assay(tse, "relabundance") > 0 ])` is the closest approximation compared to when CLR is applied to count

[2022-06-08 12:52] antagomir commented on #91
Important observation.

If I gather it correctly from here, this concerns cases where the colSums do not sum to 1 because some taxa have been left out? In such case, one may nevertheless, in some cases, want to rescale the data to relative abundance where colSums are 1. This is sometimes done after filtering out taxa. Although I think the recommended practice would be to have a category "Other" fo

[2022-06-08 14:09] TuomasBorman commented on #91
Hmmm, yes...

Well I haven't used metaphlan data that much, but if I remember, the example data that I used to test the importer did not have all the taxa (colSums != 1)

In my opinion, we should not modify too much the functionality with abund_values = "counts" as it works well. Currently the function should also work for relative abundances when correct pseudocount is added

I think those warnin